[2015-11-23 18:51] afonsof opened #1 "Change icon of edit descriptions links"
It's using the same icon used in history.
Need to use a different selector and replace by a pencil icon.

[2015-11-24 17:02] afonsof opened #2 "Do not reduce opacity in Jenkins title :hover"

[2015-11-25 15:59] #1 closed

[2015-12-04 02:49] #2 closed

[2015-12-14 15:10] Heldroe opened #5 "Cancel build button appears as gray block"
I am using Chrome 47 on Windows.
Jenkins version is 1.641, Simple Theme Plugin version is 0.3.

The cancel build button/icon appears as a gray block on both build executor and build history.

![Build executor](https://cloud.githubusercontent.com/assets/391215/11784384/3ae4b8f4-a27c-11e5-936c-6ca6db6b8a2d.png)
![Build history](https://cloud.githubusercontent.com/assets/391215/11784385/3ca53470-a27c

[2015-12-14 15:16] Heldroe commented on #5
Same thing for "Edit view" in the left menu of a specific view.

![Edit View](https://cloud.githubusercontent.com/assets/391215/11784665/e4e25040-a27d-11e5-8dd7-273d07b66909.png)

[2015-12-14 15:46] afonsof commented on #5
Thanks @heldroe. Going to fix that.

[2015-12-14 17:58] #5 closed

[2015-12-14 18:00] afonsof commented on #5
@Heldroe, please give a star to this repo if possible :)

[2016-01-17 08:43] TechExhibeo opened #11 "Console Input Conflicts with ANSIColor Plugin"
Hey,
Your theme is so awesome, I liked it :dancer:
But i have the issue with Console input
I am using ANSI Color Plugin for colorful logs.
and the issue is that colored lines have a banner type background which hide the upper line text
here is the screenshot
http://i.imgur.com/i5gelA3.png

full console input here
http://jenkins.legacyserver.in/job/AOSP-CAF-MM_armani_%20deepak/3/console

thank you

[2016-01-17 15:22] TechExhibeo commented on #11
Fixed it changing padding in .css file

padding:10px 20px      to        padding:5px 20px

Thank you for the Theme

[2016-01-17 15:22] #11 closed

[2016-01-17 21:52] afonsof commented on #11
Problem fixed in prod version. Thanks @TechExhibeo!

[2016-01-17 21:52] afonsof commented on #11
Please give a star to this project :star2: :smile:

[2016-01-25 19:36] rbywater opened #13 "Body overlaps header when scrolling"
On Chrome 47 (Mac) & Jenkins 1.580.3, the body of the Jenkins page is overlaying the header portion of the page when scrolling as per the attached screenshot.

Note that I'm using Stylish at the moment so not sure if that's part of the cause.

<img width="1440" alt="screen shot 2016-01-26 at 8 34 58 am" src="https://cloud.githubusercontent.com/assets/384963/12562021/cde21d48-c407-11e5-801c-ef1e970

[2016-01-25 20:05] afonsof commented on #13
Thanks @rbywater.

It's a real bug. Let me add some z-index to solve that.

:angry: :bug:

[2016-01-26 01:58] afonsof commented on #13
Fixed! Please give a star if possible :star2:

[2016-01-26 01:58] #13 closed

[2016-01-26 18:30] mrchief opened #14 "Missing icon for Check File Fingerprint"
Looks like the corresponding SVG is missing:

![image](https://cloud.githubusercontent.com/assets/781818/12590407/e6309162-c430-11e5-931c-e8d2fae79406.png)

[2016-01-26 18:31] mrchief opened #15 "Breadcrumb bar is missing"
I see this in `style.less`. Is hiding it intentional? If so, then why?

[code]

[2016-01-26 23:38] afonsof commented on #14
Are you using a plugin that shows that option? I can't see it in my Jenkins.

[2016-01-26 23:44] afonsof commented on #15
This is not useful at least for me, only when I need to enable/disable auto refresh. Do you really use the breadcrumbs links?

[2016-01-27 02:04] rbywater commented on #15
Personally I do use it to quickly navigate around (e.g. hover over Jenkins to get to Manage Jenkins to get to Mange Config etc.)

So would be good to have it in there as personally that's one of the main things that appears to be missing from what otherwise is a great looking theme.

[2016-01-27 02:06] rbywater commented on #14
I'm also having problems with a couple of other icons missing currently on the Node list screen. Namely the Computer "offline" icon (the one that is usually the computer with a red cross, and also the New Node  menu option.

[2016-01-27 13:49] mrchief commented on #14
Its a native Jenkins feature as far as google tells me with no option to disable it.

@rbywater I haven't created any fingerprints. Its a brand new server with a handful jobs and I was in fact looking to disable it when I learnt that it can't be done.

[2016-01-27 13:52] mrchief commented on #15
Agree with @rbywater. I tried playing with unhiding it but had transparency and z-index issues. I was testing with stylish and it could be due to that (since I later noticed that other context menus had same issues while testing with stylish but otherwise were fine when used directly).

[2016-01-27 14:20] afonsof commented on #14
@mrchief what's your Jenkins version? I'll try to simulate your problem.

@rbywater I found a problem in Node Management screen:
![image](https://cloud.githubusercontent.com/assets/805511/12615975/f10832e2-c4ef-11e5-8fb0-238ee62917b7.png).
BTW, Could you send me the html of the offline node icon (including the css classes)?

[2016-01-27 14:30] afonsof commented on #15
Thanks guys. I'll try to fix that. Sorry I didn't imagine the breadcrumbs could be handy.

[2016-01-27 14:44] mrchief commented on #14
I'm on 1.613.

[2016-01-27 15:00] mrchief commented on #14
Environment variables icon is missing as well (this is a plugin by the way):

![image](https://cloud.githubusercontent.com/assets/781818/12617230/b8474852-c4dc-11e5-8aa2-aa6912bee562.png)

![image](https://cloud.githubusercontent.com/assets/781818/12617234/bc1b81a0-c4dc-11e5-9238-51ed3cb52386.png)

[2016-01-27 15:29] afonsof commented on #15
@rbywater and @mrchief: breadcrumbs visible again. Version 1.1.1

[2016-01-27 15:29] #15 closed

[2016-01-27 15:43] mrchief commented on #15
:+1:

[2016-01-27 19:37] rbywater commented on #14
@afonsof Is this what you are after?

```<img style="width: 32px; height: 32px; " alt="[offline]" class="icon-computer-x icon-lg" src="/ci/static/83b50bfc/images/32x32/computer-x.png">```

Let me know if you need more.

[2016-01-27 20:02] afonsof commented on #14
Yup this is what I need. Thanks :+1:

[2016-01-27 20:58] rbywater commented on #15
:+1:  Looks good!

[2016-01-28 14:31] jhasse opened #19 "CodeMirror not using monospaced font"
The CodeMirror editor textarea which is for example used by "Execute Shell script" is using Roboto, but it should rather use a monospaced font ;)

[2016-01-28 17:35] jhasse opened #20 "Matrix configuration status buttons broken"
![matrix](https://cloud.githubusercontent.com/assets/80071/12653003/c63fda0c-c5ed-11e5-8b6e-6a99fb0c0c83.png)

[2016-01-29 12:32] jhasse opened #21 "Line in build history over icon"
![buildhistory](https://cloud.githubusercontent.com/assets/80071/12675733/a11449d0-c68c-11e5-99a1-7180db4bb216.png)

Windows 10, tested with Firefox and Edge.

[2016-01-29 19:22] afonsof commented on #19
What plugin do I have to install to see the error?

[2016-01-29 19:29] jhasse commented on #19
None, the build step "execute shell script" should be part of the standard jenkins installation.

[2016-01-29 20:21] afonsof commented on #14
@rbywater take a look:
![image](https://cloud.githubusercontent.com/assets/805511/12687131/13abf0ba-c6b5-11e5-8706-8bf713770629.png)

[2016-01-29 20:29] afonsof commented on #19
You mean here, correct?
![image](https://cloud.githubusercontent.com/assets/805511/12687321/45a578b0-c6b6-11e5-8b66-f0ed24c798c8.png)

[2016-01-29 20:48] afonsof commented on #19
How about
![image](https://cloud.githubusercontent.com/assets/805511/12687746/e7549770-c6b8-11e5-8447-00010d24906a.png)

[2016-01-29 21:04] jhasse commented on #19
Awesome!

[2016-01-31 21:49] rbywater commented on #14
Looks good to me. Just realised there's also the Build Executor Status version (the one on the home page that lists all the nodes) which has HTML of
```<img style="width: 16px; height: 16px; " class="icon-computer-x icon-sm" src="/ci/static/83b50bfc/images/16x16/computer-x.png">```

Not sure if that's covered by the existing change or not.

[2016-02-01 10:18] cobexer opened #22 "Provide an option to disable animations"
Maybe as a real Jenkins plugin that could be updated using the normal update center?

The problem for me is that our users can't reach fonts.googleapis.com and afonsof.github.io from where they access the Jenkins server.

Also it would be awesome if there were no animated graphics. Our clients have to be accessed using Remote Desktop and Firefox for example uses a ton of CPU to render the gif anim

[2016-02-01 10:21] kutzi opened #23 "Build node 'context' menu is broken"
When I access the 'context' menu of a build node (i.e. the small down arrow right to it)
the menu is rendered at the top of the page instead of next to the node

[2016-02-01 10:21] kutzi commented on #23
![screenshot from 2016-02-01 11-19-36](https://cloud.githubusercontent.com/assets/175061/12714594/8aa278dc-c8cd-11e5-83cf-da376401e4b3.png)

[2016-02-01 10:21] cobexer opened #24 "Missing Icon for Not built (aborted builds)"
`<img title="Not built" src="/static/c82d2d81/images/16x16/nobuilt.png" alt="Not built" tooltip="Not built" style="width: 16px; height: 16px; " class="icon-nobuilt icon-sm">`

[2016-02-01 10:21] cobexer commented on #24
![notbuilt](https://cloud.githubusercontent.com/assets/460721/12714603/fc001982-c8d5-11e5-9a70-036bb11ebeb9.png)

[2016-02-01 10:29] cobexer commented on #20
Relevant HTML:

[code]

[2016-02-01 11:07] jhasse commented on #22
If I'm not mistaken this theme is only using SVG files, not gifs: https://github.com/afonsof/jenkins-material-theme/tree/master/images

[2016-02-01 11:10] cobexer commented on #20
Just Discovered: in case the Matrix only has a single dimension it may also look like this:
[code]

[2016-02-01 11:28] cobexer commented on #22
@jhasse you are right, the lack of gifs is a big reason for me to use this theme :)
With the gifs in the original jenkins theme the animations are necessary because they look identical if I were to disable gif animations in my browser.
With this theme however the animations are not needed because a Yellow and a Yellow animated (in progress or something) can be easily distinguished.

I hope this ex

[2016-02-01 13:31] jhasse commented on #22
Ah I understand :)

I guess it would be really good to make this theme into a dedicated Jenkins plugin then, since a configuration option could then be added to disable things like animations. I like them though! Not having any CPU issues in Firefox with them.

[2016-02-01 14:11] afonsof commented on #24
Thanks a lot for filing this issue! I'll take a look at it as soon as possible!
:smile:

[2016-02-01 14:11] afonsof commented on #24
Would you like to write a patch for this? We'd be more than happy to walk you through the steps involved.

[2016-02-01 14:14] afonsof commented on #23
Thanks a lot for @kutzi! I've noticed that the left menu z-index is wrong. Fixing it as soon as possible!

[2016-02-01 14:15] cobexer commented on #22
Well animations are one of those things...
IMO the animated items are of no interest to me - while they are animated I don't care about them, but they grab my attention. When the build is finally done and may be interesting because it failed or has test results - they are not animated anymore.

About that CPU use: Open 5 or more tabs, access your browser over Remote Desktop note CPU use multiply b

[2016-02-01 14:18] afonsof commented on #22
Guys, thanks for the suggestions! I guess both of them are interesting to implement. What about splitting it in 2 different issues?
* Disable animation option
* Created a dedicated plugin for this theme

[2016-02-01 14:20] afonsof commented on #14
@rbywater I hope so. I'm matching the style by the class `icon-computer-x`

[2016-02-01 14:20] jhasse commented on #22
Yes, good idea. I've published the Python plugin to Jenkins in the past, so I can help with the latter one :)

[2016-02-01 14:27] cobexer opened #25 "Missing icon override on the Build Time Trend page"
From jenkins/job/jobName/buildTimeTrend:
[code]

[2016-02-01 14:28] cobexer commented on #24
Yes, unless that involves creating icons (I'm no designer :) ).
But it will be a few hours before I can take a look at that...

[2016-02-01 16:57] afonsof commented on #19
Done: version 1.1.3

[2016-02-01 16:57] #19 closed

[2016-02-01 18:06] afonsof commented on #23
Fixed. Version 1.1.4

[2016-02-01 18:06] #23 closed

[2016-02-01 19:02] afonsof commented on #23
@kutzi please, give us a star :star2:
:smile:

[2016-02-01 21:36] cobexer opened #28 "Create a dedicated plugin for this theme hosted on the Jenkins Update Center"
Pros:
- Easier installation
- Firewall friendly
- Updates that can match Jenkins version (may be interesting for the upcoming 2.0 release of Jenkins)
- ability to choose between multiple color schemes
- could expose options that for example allow to turn off animations (see #22 )

Split off from #22

[2016-02-01 22:49] #25 closed

[2016-02-01 22:53] afonsof commented on #20
Fixed: Version 1.1.5

[2016-02-01 22:53] #20 closed

[2016-02-01 23:01] afonsof commented on #24
@cobexer I'd rather use the same icon we are using for not started builds. What do you think?
![image](https://cloud.githubusercontent.com/assets/805511/12734312/c550a932-c926-11e5-92f4-0ae144d9759e.png)

[2016-02-02 00:41] afonsof commented on #21
I cannot reproduce in my Mac OS Firefox. Take a look:
![image](https://cloud.githubusercontent.com/assets/805511/12736136/d6512b36-c934-11e5-9975-00c97a41b1a9.png)

[2016-02-02 07:08] cobexer commented on #24
Maybe, I also considered using the stop build icon.
Reusing the icon you propose would use it for three states already, but I'm not sure how important the distinction really is...

[2016-02-02 08:39] cobexer commented on #20
Missed the second variant of the Matrix here, the second version has no `#configuration-matrix` div.

[2016-02-02 10:03] jhasse commented on #21
You'll need to queue a build or have one in progress to make the line appear :)

[2016-02-02 11:35] kutzi commented on #23
Better - now it displays on the right place - but it's still rendered transparent - i.e. elements beneath it are showing through

IMO it should be opaque

[2016-02-02 12:17] cobexer opened #31 "The console color theme needs some work..."
The blue (shell variables, and "random" parts of command line arguments) and red (strings) texts are very hard to read...

The editor for Groovy has some more problems, the cursor and and entered text start to separate quickly, colors seem to be unaffected tough.

![execute-shell](https://cloud.githubusercontent.com/assets/460721/12749001/2fc33afa-c9ae-11e5-907c-2845ede0c761.png)

[2016-02-03 01:46] afonsof commented on #24
The stop build icon is different. This one:
![image](https://cloud.githubusercontent.com/assets/805511/12770361/f4d20a1c-ca06-11e5-8461-923e757d6c8e.png)

Jenkins uses the same icon for "never build" and "aborted"so I think we should use too.

[2016-02-03 01:53] afonsof commented on #24
Fixed. Version 1.1.6

[2016-02-03 01:53] #24 closed

[2016-02-03 02:20] afonsof commented on #22
Done. Version 1.1.7

[2016-02-03 02:20] #22 closed

[2016-02-03 02:26] afonsof commented on #31
Could you send me the html of this text area?

[2016-02-03 04:03] znorris opened #32 "Dropdown menuSelector displays beneath the build history menu"
Clicking the dropdown (menuSelector) for an individual item in the build history results in the menu being displayed beneath the build history element. I've noticed this behaviour in other places as well when using the menuSelector. Tested in Chrome.

![screenshot 2016-02-02 at 21 55 34](https://cloud.githubusercontent.com/assets/995047/12772568/e76f8e08-c9f7-11e5-9d03-af1960355ece.png)

Great the

[2016-02-03 08:37] cobexer commented on #31
I hope that covers all different highlights for the Shell language:
[code]

[2016-02-03 08:46] cobexer commented on #31
Maybe there is a guide on how one writes CodeMirror themes? I couldn't find one immediately but found this instead: [http://mkaminsky11.github.io/codemirror-themes/](http://mkaminsky11.github.io/codemirror-themes/)

[2016-02-03 08:48] cobexer opened #33 "The Groovy editor for Jenkins Pipeline (formerly Workflow) jobs has font issues"
From #31:

[code]

[2016-02-03 08:52] cobexer commented on #31
And here an example of the Groovy editor:
![execute-groovy-builder](https://cloud.githubusercontent.com/assets/460721/12777231/d19fcfb6-ca5b-11e5-9b1e-f2f187b701dd.PNG)

[code]

[2016-02-03 18:31] afonsof commented on #31
Changing to use CodeMirror material theme (https://github.com/codemirror/CodeMirror/blob/master/theme/material.css)
![image](https://cloud.githubusercontent.com/assets/805511/12792529/68c19a0a-ca93-11e5-8e8c-07d81e31b71a.png)

It may solve Groovy editor too.

[2016-02-04 04:06] afonsof commented on #33
Fixed. Version 1.1.8

[2016-02-04 04:06] #33 closed

[2016-02-04 04:06] afonsof commented on #32
Fixed. Version 1.1.8

[2016-02-04 04:06] #32 closed

[2016-02-04 04:06] afonsof commented on #31
Fixed. Version 1.1.8

[2016-02-04 04:06] #31 closed

[2016-02-04 06:59] cobexer commented on #22
Awesome thanks!

[2016-02-04 21:44] znorris opened #35 "Disabled projects show no icon"
I see in the legend that the disabled icon is there however, when a project is disabled I don't see that icon. Mousing over the space does show 'disabled'.

![screenshot from 2016-02-04 15-39-45](https://cloud.githubusercontent.com/assets/995047/12830650/0403c3ae-cb56-11e5-90bf-7d987988604b.png)

Jenkins: 1.642.1

Element:
`<img src="/static/0027ac25/images/32x32/disabled.png" alt="Disabled" toolt

[2016-02-04 22:52] afonsof commented on #35
Fixed: Version 1.1.9

[2016-02-04 22:52] #35 closed

[2016-02-04 23:18] afonsof commented on #35
@znorris please give us a star if possible :star2:

[2016-02-08 17:18] znorris opened #36 "In progress icon not seen"
When looking at a view of a Project that's in progress I see no icon. I do see the tooltip.

Element: `<img src="/static/0027ac25/images/32x32/aborted_anime.gif" alt="In progress" tooltip="In progress" style="width: 32px; height: 32px; " class="icon-aborted-anime icon-lg" title="In progress">`

[2016-02-09 15:56] afonsof commented on #36
@znorris thanks a lot for filing this issue! Could you send me a screenshot?

[2016-02-09 16:09] jhasse commented on #36
![in-progress](https://cloud.githubusercontent.com/assets/80071/12921961/d8939eda-cf4f-11e5-96dd-28d2dda2484f.png)
Second bubble is blank, should be the spinning arrows.

[2016-02-11 14:13] nfalco79 commented on #21
To reproduce the issue open in Firefox browser or add a long description to a build so build data goes on second line.

[2016-02-11 14:31] nfalco79 commented on #14
me too missing the check fingerprint SVG

[2016-02-11 14:54] nfalco79 opened #38 "Missing icon for Promotion Status Plugin"
Some SVG is missing for this plugin and some glitches about it with this new thema:
![promotionstatus](https://cloud.githubusercontent.com/assets/4160180/12979430/58f806b4-d0d7-11e5-9a79-67806eac1ece.jpg)

Also the promotion page has strange background:
![promotionstatus_page](https://cloud.githubusercontent.com/assets/4160180/12979460/ad831854-d0d7-11e5-9706-837241d97bf5.jpg)

and also badges in

[2016-02-11 15:08] nfalco79 opened #39 "When we open Console page the Executed Target has dot before name"
When we open Console page the Executed Target has dot before name.
![dotted_steps](https://cloud.githubusercontent.com/assets/4160180/12979767/79f2c30c-d0d9-11e5-910a-00e9c36e2cbc.jpg)
Original jenkins page align the "Executed Targets" table to the border left so

![origina](https://cloud.githubusercontent.com/assets/4160180/12549182/b90d19ec-c35b-11e5-8ef3-ae51bc9f7113.jpg)

Already fix on racksp

[2016-02-11 16:08] maorhayoun opened #40 "dist url is broken"
http://afonsof.github.io/jenkins-material-theme/dist/material-light.css  returns 404

[2016-02-11 16:10] afonsof commented on #40
I'm sorry, we're moving it to another repo http://jenkins-contrib-themes.github.io/jenkins-material-theme/dist/material-light.css returns 404

[2016-02-11 16:17] afonsof commented on #40
Fixed, it's working but this url is deprecated. For further installations please use the url: http://jenkins-contrib-themes.github.io/jenkins-material-theme/dist/material-light.css

[2016-02-11 16:18] #40 closed

[2016-02-11 16:20] maorhayoun commented on #40
thanks! :+1:

[2016-02-11 16:26] #14 closed

[2016-02-11 16:32] #39 closed

[2016-02-11 16:34] mrchief commented on #14
@afonsof Are the fingerprint and env variables icons available now?

[2016-02-11 16:37] cyotek opened #41 "Global build history icon issues"
Hello,

If you use "Large" icons, then the global build history view (the one accessed via `/view/All/builds`, not the sidebar version displayed for individual projects) looks fine

![global-build-large](https://cloud.githubusercontent.com/assets/859574/12982602/585776c6-d0dd-11e5-8136-eb7765ab5cfa.png)

When set to "Medium", the new icons appear tiled behind the old

![global-build-medium](https:

[2016-02-11 16:38] afonsof commented on #14
@mrchief it's fixed in version 1.1.10. Pay attention to the new css url: http://jenkins-contrib-themes.github.io/jenkins-material-theme/dist/material-light.css

[2016-02-11 16:39] afonsof commented on #14
@mrchief please test and report me if it's ok because I can't see the fingerprint menu in my jenkins.

[2016-02-11 16:39] afonsof commented on #39
@nfalco79: Fixed in version 1.1.10

[2016-02-11 16:41] mrchief commented on #14
Will check and let you know. Thanks!

[2016-02-11 16:42] afonsof commented on #38
Thanks a lot for filing this issue! Would you like to write a patch for this? We'd be more than happy to walk you through the steps involved.

[2016-02-11 16:43] afonsof commented on #41
Thanks a lot for filing this issue! I'll take a look at it as soon as possible!

[2016-02-11 16:46] cyotek commented on #41
I've used that view exactly once so no need to hurry on my part :) But fantastic work on the theme as a whole - I really did not like the default look and it's amazing how much a touch of paint helps!

[2016-02-11 18:29] nfalco79 opened #42 "Manage Jenkins menu icons does not matches those one in Manage Jenkins page"
Only four of "Manage Jenkins" menu icons matches those one in "Manage Jenkins" page

![jenkins_menu](https://cloud.githubusercontent.com/assets/4160180/12986036/90327786-d0f5-11e5-80dd-b921031322a5.jpg)

[2016-02-11 21:08] #42 closed

[2016-02-14 00:59] deimosfr opened #45 "Logo change"
Hi,

It would be nice to easily be able to change the logo. My 2 cents...

Thx

[2016-02-16 21:09] dep commented on #21
I can reproduce this in Chrome, OSX:

!http://dl.dpeck.net/1703U+

[2016-02-16 21:10] dep opened #47 "4-digit builds are getting truncated."
This is a bit of a big deal since we can't easily see build numbers in the list here:

![Alt Text](http://dl.dpeck.net/1703U+)

[2016-02-16 21:21] afonsof commented on #21
@dep you're using **jenkins-neo-theme** or **jenkins-material-theme**? Your screenshot looks like you are using **neo**. I've just tried to reproduce in MacOS Chrome using **material** but I got the result:
![image](https://cloud.githubusercontent.com/assets/805511/13091432/5b364bde-d4e2-11e5-8774-2523ff3ea06f.png)

[2016-02-16 21:23] afonsof commented on #47
@dep I've made a comment about it in #21. Take a look

[2016-02-16 21:27] jhasse commented on #21
@afonsof: as nfalco79 said: you need to "add a long description to a build so build data goes on second line."

[2016-02-16 21:32] afonsof commented on #21
@jhasse yes, this is reproducible. What I mentioned was the bug "4-digit build numbers".

[2016-02-16 21:34] jhasse commented on #21
Ah okay. It looks like in dep's screenshot that the build number 1300 is working, have you tried # 1301 or # 1296?

[2016-02-17 00:49] aarjithn commented on #45
It is pretty easy to do in less. Just add below to #header in style.less

[code]

also need to hide the default image, as jenkins use img tags than background-image. But make sure href that wraps around still works.
[code]

[2016-02-17 13:56] afonsof commented on #45
I'll thinking about creating a javascript script builder where you select the image and it's inserted inside the css file. All in front end. Anyone would like to help me?

[2016-02-18 11:02] cobexer commented on #21
I have the same problem with build names like: ```99.9.999```, maybe the fix here could also take care of them :)

[2016-02-18 19:24] aarjithn commented on #45
How would we persist the image, if done in javascript?
You can't modify the actual css file from front-end, and any injected style would be lost on refresh.

[2016-02-18 22:56] deimosfr commented on #45
Thanks for the answre @aarjithn. However I've no logo anymore due to opacity and do not have my wished logo. Any idea ?

[2016-02-18 23:13] aarjithn commented on #45
Could you check if the path to logo is correct, and it background is not overwritten by any other styles? I do use this setup for my organisation with custom logo and it works fine.

[2016-02-19 12:30] afonsof commented on #45
This is my idea: http://jsfiddle.net/afonsof/s4uuza6u/3/
In that case I'd like to offer the theme only for download. The github hosted installation option would not be available.

[2016-02-23 13:16] owenhaynes opened #48 "Breaks pipeline plugin"
When applying this theme it breaks the pipeline(workflow) plugin editor box with its auto completion.

[2016-02-23 20:22] marc-guenther opened #49 "animated versions of clock and nobuilt icons are missing"
The following two icons appear blank:
- the animated `nobuilt` icon for a new job that is currently building (which looks identical to the grey blinking icon)
- the animated `clock` icon for the Build Now icon for a job that is scheduled to build, but is waiting in the queue for the next executor

To reproduce:
- generate a new job which does 'sleep 300'
- go to a list view which shows Build Butto

[2016-02-23 20:32] marc-guenther opened #50 "menu bar scrolling away"
I really love this theme, so much nicer than the default.

So this is really nitpicking, but we have these two bars on top of the screen, the one with the Jenkins logo, and the menu bar below. In original Jenkins layout, when you scroll down, the Jenkins logo bar disappears, and the menu bar stays at the top. Here, the (quite useledd) big green Jenkins bar stays, and the (very useful) menu bar scr

[2016-02-24 19:00] marc-guenther commented on #49
Progress bar in Build Executor Status on the left is also missing for newly created running jobs...

[2016-02-24 19:53] afonsof commented on #49
Thanks a lot for filing this issue! We'll take a look at it as soon as possible! Would you like to write a patch for this? We'd be more than happy to walk you through the steps involved.

[2016-02-24 20:03] marc-guenther commented on #49
Sure.

If I understand this correctly, the actual problem is in the core theme, not this one? Unfortunately I could not figure out how to build it, it is missing a grunt file for example, and npm install doesn't do anything

[2016-02-27 09:18] cyotek opened #51 "Credentials icon scaled to double size"
Hello,

Recently I updated the core plugins for my Jenkins installation, and every since the Credentials icon displayed in the sidebar is double the size it should be:

![menu](https://cloud.githubusercontent.com/assets/859574/13372002/2776113c-dd2d-11e5-8927-9241c4389173.png)

Not really sure if this is something you can fix or not, as the relevant HTML has conflicting attributes

    <a href="/c

[2016-03-02 13:55] go2sh commented on #51
I also can confirm the bug. It seems, that its related to the ` icon-xlg ` class. If you change it to ` icon-md` every thing is fine.

[2016-03-02 16:05] derdanne opened #52 "Progressbar inside job view isn't updated"
The progressbar inside a job view is not updated during a job run, so it seems the job is running endless.

At the global view of the build processor status on the Jenkins main page the progressbar works flawless.

[2016-03-04 12:05] nfalco79 commented on #51
This issue should be moved to core-theme project.
I have no issue using this them (ensure you are using the correct url in instead neo-theme).
This is the sidebar
![desktop](https://cloud.githubusercontent.com/assets/4160180/13526655/961b8dde-e209-11e5-8f60-6c53639306de.jpg)
This is the jenkins->menu
![menu](https://cloud.githubusercontent.com/assets/4160180/13526661/9c2d99f6-e209-11e5-8296-936db5

[2016-03-04 17:31] cyotek commented on #51
I am using the correct URL - http://jenkins-contrib-themes.github.io/jenkins-material-theme/dist/material-light.css, although as I noted, that doesn't seem to be a bug with the theme (as it can't influence the wrong class names and size attributes). I reported it here as well simply because there was a discrepancy in sizes when using themed versus unthemed and I was curious as to if there was some

[2016-03-05 17:42] #21 closed

[2016-03-05 17:42] afonsof commented on #21
Fixed:
![image](https://cloud.githubusercontent.com/assets/805511/13549238/38dbd156-e2e0-11e5-9514-f8ebd0ea7bc2.png)

[2016-03-05 17:52] afonsof commented on #36
Done in core theme

[2016-03-05 17:52] #36 closed

[2016-03-05 17:53] afonsof commented on #47
Fixed in #21

[2016-03-05 17:53] #47 closed

[2016-03-05 18:27] afonsof commented on #49
Fixed in https://github.com/jenkins-contrib-themes/jenkins-core-theme/issues/2 and https://github.com/jenkins-contrib-themes/jenkins-core-theme/issues/3

[2016-03-05 18:27] #49 closed

[2016-03-05 18:32] afonsof commented on #50
Hi @marc-guenther, thanks for filling this issue. Unfortunately I guess this is so hard to do due to some tricks I had to do in order to increase the titlebar height. I experienced too many problems with titlebar vs breadcrumbs vs z-index popups in the past.
Would you like to try to write a patch for this? We'd be more than happy to walk you through the steps involved.

[2016-03-05 18:40] afonsof commented on #51
@cyotek the icon is right sized for me too. That's weird. This is my icon html:
```<img style="width: 24px; height: 24px; margin: 2px;" alt="" src="/static/f72481f6/plugin/credentials/images/48x48/credentials.png">```

Could you check what's your credentials version? Mine is 1.2.4.

[2016-03-05 18:41] afonsof commented on #52
Hi @derdanne. Thanks for filling this issue. Could you reproduce this problem disabling jenkins material theme?

[2016-03-05 18:52] cyotek commented on #51
It's 1.2.5, this issue happened after upgrading from 1.2.4 - perhaps I should have been slightly more specific in my initial description rather than "just upgrading core plugins".

When I first found this issue, I reverted back to 1.2.4 and confirmed the issue wasn't present, but as soon as upgraded back to the latest version the issue was back. I've left the latest version installed as... well, i

[2016-03-05 20:36] #50 closed

[2016-03-05 20:36] #41 closed

[2016-03-05 20:36] #51 closed

[2016-03-05 23:42] afonsof commented on #45
@deimosfr I created a tool in the website that allows to set your own logo: http://jenkins-contrib-themes.github.io/jenkins-material-theme/

[2016-03-05 23:42] #45 closed

[2016-03-06 00:26] afonsof commented on #51
Anyway I hope I've fixed any kind of anomaly.

[2016-03-06 09:10] cyotek commented on #51
Seems to be working great with v1.2 of the theme, thanks :)

[2016-03-06 17:42] afonsof commented on #38
@nfalco79 what's the plugin?
![image](https://cloud.githubusercontent.com/assets/805511/13555833/91cd8c54-e3a9-11e5-8416-adf3ad0448d8.png)

[2016-03-06 17:52] afonsof commented on #48
Thanks a lot for filing this issue! I've reproduces your problem:
![image](https://cloud.githubusercontent.com/assets/805511/13555888/fdd79790-e3aa-11e5-8f29-ab35019b2fdf.png)

Would you like to write a patch for this? We'd be more than happy to walk you through the steps involved.

[2016-03-07 11:41] julenpardo opened #53 "Specify "https" protocol in README in installation section"
First of all, thank for this awesome theme, makes Jenkins look so great.

This is only a little suggestion. It would be nice to specify, in Installation section, `https` protocol in the URL, because, if the site is `https`, the browser will filter the content since is mixed "active" content. And perhaps someone doesn't realise this and can get desperated trying to get the theme load (actually happ

[2016-03-08 13:26] stackfull commented on #48
I had this issue and had to remove the font-family applied to all elements. This broke a few cases where the font should have been changed, but it did enable the pipeline editting again.
[code]

[2016-03-09 07:30] jonten opened #54 "Logo generator feature enhancement?"
Hi!

First of all I want to congratulate you for creating the best looking Jenkins theme available :)

I also wanted to ask if it would be much work for you to make the logo generator also allow the user to enter a custom color for the header and link texts?

Best regards,

//Jon

[2016-03-09 07:43] jonten opened #55 "Delete buttons in role strategy plugin have disappeared"
Hi!

Just wanted to report a possible bug in version 1.2 of the theme.

Sometime between versions 1.1.12 and 1.2 the red delete buttons in the manage-roles section of the role strategy plugin which makes it possible to edit/remove roles have disappeared. See the attached screenshots.

Best regards,

//Jon

![screen shot 2016-03-09 at 08 04 31](https://cloud.githubusercontent.com/assets/679082/1362

[2016-03-09 10:15] nfalco79 commented on #38
this one "promoted builds plugin" is the oldest plugin

[2016-03-09 11:14] derdanne commented on #52
Ah, sorry - seems that this is a bug in Jenkins LTS.

[2016-03-09 11:14] #52 closed

[2016-03-18 10:17] Alexhha opened #56 "Missing icon for a project with GitLab Logo plugin"
Hello,

it seems that [Gitlab Logo plugin](https://wiki.jenkins-ci.org/display/JENKINS/Gitlab+Logo+Plugin) doesn't work correctly with material design theme.

Default theme - http://i.imgur.com/U8McAu2.png
Material design theme - http://i.imgur.com/pecUE8t.png

[2016-03-21 15:36] AdrianoCahete commented on #55
'Cause this:
[code]

[2016-03-22 13:42] AlexanderPoleschuk commented on #38
There are actually more icons that are not shown in your theme. They exist on the page, but they are not displayed because of your strict override rules.
The good examples that I've faced with are: Selenium Grid plugin and Allure Report plugin.
See attachments.
![3-11-2016 12-54-08 pm](https://cloud.githubusercontent.com/assets/9446141/13953338/855e4d5a-f04c-11e5-8762-b5110acc84c9.png)
![3-11-2016

[2016-03-22 14:03] afonsof commented on #38
Yes I know @AlexanderPoleschuk. I'm sorry, I'm trying to fix this. The global override was the only way I found to handle all the icons in the same way and not increase drastically the css size. Before that we were getting wrong sized icons in a sort of places or more than one selector to treat the same kind of icon due to jenkins plugins inconsistencies.

[2016-03-24 12:35] jamroks opened #57 "Missing manage jenkins icon [Jenkins 2.0]"
Hi,

 Thanks for the beautiful theme. i just made a fresh install of jenkins then install the theme following the recommended way in the doc (Using the github page Url ). everything went smoothly, but as you can see in the image below there is a messing icon in the menu en the left for the "manage jenkins" section. Do you have any idea of how or what i might check on my side to fix this ?
My setup

[2016-03-24 13:43] afonsof commented on #57
@jamroks thanks for filling this issue. Unfortunately jenkins-material-theme does not work with Jenkins 2.0 yet. Anyway I'll install it here and try to fix the problems.

[2016-03-24 15:44] jamroks commented on #57
Thanks for the feedback, no worries  , it's already looking pretty good to me so far. i'll just wait for the official availability .

[2016-03-24 19:06] afonsof commented on #28
Hi @cobexer. I've just ported @bootstraponline solution to this repo. Currently it's working properly.
It's possible to install using the file https://github.com/jenkins-contrib-themes/jenkins-material-theme/raw/master/hpi/material-theme.hpi . However I've submitted a hosting request to jenkins team in order to release it to the plugins store.
Take a look and give me a feedback.

[2016-03-24 19:33] #53 closed

[2016-03-25 03:25] afonsof commented on #57
@jamroks I've just updated the theme to the version 1.2.2. No icon will be blank anymore. Unfortunately it increased the file size a little bit.

[2016-03-25 03:27] afonsof commented on #56
@jamroks I've just updated the theme to the version 1.2.2. No icon will be blank anymore. Unfortunately this change has increased the file size a little bit.

[2016-03-25 03:28] #56 closed

[2016-03-25 03:29] afonsof commented on #55
@AdrianoCahete and @jonten I've just updated the theme to the version 1.2.2. No icon will be blank anymore. Unfortunately this change has increased the file size a little bit. I'll fix the problem with a Matedia design icon later.

[2016-03-25 03:31] afonsof commented on #38
@AlexanderPoleschuk and @nfalco79 I've just updated the theme to the version 1.2.2. No icon will be blank anymore. Unfortunately this change has increased the file size a little bit. I'll fix the problem with Material Design icons later.

[2016-03-25 08:01] jamroks commented on #57
@afonsof thanks for the update. unfortunately i think there is still a minor issue at least for Jenkins 2.0-Beta-1 . As you can see in the picture below:

- The "manage jenkins" section on left side menu has an icon but it's from the default icon set of jenkins not a material design one.
- Section "Configure Sytem" in the middle, has the the same old jenkins icon .

The icon should be looking more

[2016-03-25 08:02] jamroks commented on #57
<img width="1209" alt="screen shot 2016-03-25 at 08 47 33" src="https://cloud.githubusercontent.com/assets/357258/14040508/40705e40-f268-11e5-98a3-3e984c47ac89.png">

[2016-03-25 09:16] nfalco79 commented on #38
Good work!

[2016-03-28 19:10] afonsof commented on #57
@jamroks I know. The bug was not fixed. I did only one change in order to show not customized icons. As soon as possible I'll fix this one. Could you send me the html of this icon?

[2016-03-29 09:31] jonten commented on #55
Hi, Thanks!
I just tried the new 1.2.2 version and everything worked just fine :)

//Jon

[2016-03-29 14:51] AdrianoCahete commented on #55
Same here! :)

[2016-03-30 15:53] cobexer commented on #28
@afonsof I just tried this out but had the following issues:
 * I need the non animated version
 * The path to the css file is wrong on all but the index page: https://example.com/pluginManager/plugin/material-theme/material-light.css returns a 404 error, should not hardcode "/" though as there are likely users that have another jenkins root or context path (or whatever it's called)
 * there is st

[2016-03-31 19:14] afonsof commented on #28
Thanks for the feedback @cobexer. I'll fix this problems this weekend.

[2016-04-01 22:04] vikas027 commented on #54
+1 to give an option to replace the default Jenkins Logo.

Indeed, a pretty clean looking theme. :+1:

[2016-04-04 13:18] busches opened #58 "Add support for SafeRestart Plugin"
The SafeRestart Plugin, https://wiki.jenkins-ci.org/display/JENKINS/SafeRestart+Plugin, adds it's own icon, any chance to add a replacement icon for this plugin, similar to what's been done for other plugins?

Here's the img src you'll need to override. `/jenkins/static/2985eed1/plugin/saferestart/images/48x48/quick_restart.png`

[2016-04-21 19:34] wbagdon commented on #57
<img src="/static/5f4cb664/images/24x24/gear2.png" style="width: 24px; height: 24px; width: 24px; height: 24px; margin: 2px;" class="icon-gear2 icon-md">
<img src="/static/5f4cb664/images/48x48/gear2.png" style="width: 48px; height: 48px; " class="icon-gear2 icon-xlg">

[2016-04-21 19:35] wbagdon commented on #57
From settings page
`<img src="/static/5f4cb664/images/48x48/gear2.png" style="width: 48px; height: 48px; " class="icon-gear2 icon-xlg">`

From left toolbar
`<img src="/static/5f4cb664/images/24x24/gear2.png" style="width: 24px; height: 24px; width: 24px; height: 24px; margin: 2px;" class="icon-gear2 icon-md">`

[2016-04-22 21:15] Signus commented on #54
+1 for allowing the user to pick colors. I would even say given a logo, create a color scheme based off of the image, but I digress.

The user should have power to change their color schemes as needed, although for best viewing experience they should be limited to change a few colors that define the whole scheme (that way the color palette isn't all over the place).

Suggestions:
- Custom pick col

[2016-04-24 05:47] mattrick16 commented on #57
Jenkins 2.0 is now out of beta, so a fix should be considered.

[2016-04-26 05:04] maicheng365 opened #60 "add plugin: "Last Console" icon support."
After install the "Last Console" plugin, the list view will be like this:

![qq 20160426115401](https://cloud.githubusercontent.com/assets/15681818/14806510/42487c64-0ba6-11e6-9537-06a6ea6a462c.png)

Consider add "console icon" to list view.
`[src$='terminal.gif']{padding-left: 43.2px!important;padding-top: 43.2px!important;height: 0!important;width: 0!important;background-size: 100% 100%!importan

[2016-04-27 12:45] Daxten opened #61 "Hover Effect for Table Rows"
Hi,
sorry if this is a dupe, tried to find an issue for this but couldn't find anything.

Tables have no hover effect on rows, so it's hard to see, for example, which build I'm starting (workaround for this is to wait for the tooltip)

[2016-04-27 21:33] #57 closed

[2016-04-28 23:56] afonsof opened #63 "Custom logo is not totally covered by the back button in project internal pages"
There's a bug where the back button does not totally cover the customized logo. The solution for this is increase the back button canvas size.

[2016-04-29 19:50] dajos7 opened #64 "Jekins 2.0 not working properly"
The theme is working on mainpage and some subpages of jenkins 2.0 as standalone plugin.. I guess would only take some minor adjustments for Jenknis 2 .. would be great to get this .. Theme is really awesome.

[2016-04-29 21:18] afonsof commented on #64
Hi @dajos7. What are the problems you have identified?

[2016-05-02 08:03] outime commented on #54
Right now it's implemented so that when you upload the logo [in the theme webpage](http://jenkins-contrib-themes.github.io/jenkins-material-theme/), there's [a small JS script](http://i.imgur.com/bC9TMgV.png) that will convert the uploaded image to base64 and adds some more CSS to the standard one - then it gives you the final file that uses the custom logo. Overriding header and link text colors

[2016-05-03 20:59] mjgorman opened #65 "Theme causes issues with Reports [2.0]"
Loading regression test HTML cucumber reports which have issue with CSS(obviously trying to call things not in the provided theme). Can you exempt these report pages or somehow manage them?
Only tested on 2.0

Thanks!

[2016-05-09 10:44] hgfischer commented on #64
Hi, I'm getting this not themed page: /me/my-views/view/All/

[2016-05-09 10:57] hgfischer commented on #64
It looks like it's not working with views.

A detailed job view within a view doesn't work as well:
Ex.: /view/VIEWNAME/job/JOBNAME/

[2016-05-17 16:55] vrenjith opened #66 "Task area shows a big green arrow mark"
Any idea why? See attachment.
<img width="325" alt="screen shot 2016-05-17 at 10 24 41 pm" src="https://cloud.githubusercontent.com/assets/2093241/15331290/39cf74be-1c7e-11e6-857a-18f8a20a3aab.png">

[2016-05-17 17:00] vrenjith opened #67 "Customize the top bar color"
This is help request rather than an issue. Do you have some quick steps how to go about modifying the colour of the top bar (which is currently this one I guess http://www.colorhexa.com/1d9888)

[2016-05-23 11:52] wbagdon commented on #67
Change color-primary in the variables.less file
https://github.com/jenkins-contrib-themes/jenkins-material-theme/blob/master/less/variables.less

[2016-05-31 11:00] rdsubhas opened #70 "Header too large"
The Top header is only rarely used. It has just the logo, search bar, username and logout link. Main functionality are all below it, and I find myself always having to scroll down to see useful stuff.

Can we please dedicate lesser area to the header bar, so that people have more visual space for more important stuff? Like bringing it down from 64px to 36px, and making the logo smaller?

[2016-06-04 02:01] afonsof commented on #64
That's weird. In my case it's working properly
![image](https://cloud.githubusercontent.com/assets/805511/15796941/9757b8e8-29d6-11e6-85bf-4fd54ff10112.png)

Are you using any plugin? Is your version 1.2.3?

[2016-06-04 02:03] afonsof commented on #66
The expected behavior is this:
![image](https://cloud.githubusercontent.com/assets/805511/15796962/edb5ba64-29d6-11e6-919e-669c3f81c4a3.png)

Which version are you using?

[2016-06-04 02:05] vrenjith commented on #66
The latest that I downloaded using custom image logo.

On Friday, 3 June 2016, Afonso F <notifications@github.com> wrote:

--
Regards,
Renjith

[2016-06-04 02:06] afonsof commented on #67
@wbagdon thanks for answering the question. This is really a matter of changing the color-primary in variable.less file

[2016-06-04 02:06] #67 closed

[2016-06-04 02:28] afonsof commented on #70
Thanks for filling out this issue! Unfortunately I've tried to decrease the header size but I looked too ugly. When I created this theme my intention was to make Jenkins good looking and improve the usability a little bit and in my opinion to shrink the toolbar would not bring any usability improvement neither make it more beautiful. Furthermore we are following the Material Design guideline and i

[2016-06-04 02:28] #70 closed

[2016-06-04 02:31] afonsof commented on #66
Could you see the number in the right bottom part of the screen?

[2016-06-04 02:57] #63 closed

[2016-06-04 05:25] afonsof commented on #54
Now it's possible to also choose the theme color. Check it out: http://jenkins-contrib-themes.github.io/jenkins-material-theme/

![image](https://cloud.githubusercontent.com/assets/805511/15797839/3d5fc8e0-29f3-11e6-886c-2289747730f5.png)

[2016-06-04 05:25] #54 closed

[2016-06-05 11:11] hgfischer commented on #64
Hi @afonsof

The *All* view also works fine for me. But it doesn't work with other custom views.

[2016-06-05 11:23] hgfischer commented on #64
I was using a self-hosted version. Now, with the https://jenkins-contrib-themes.github.io/jenkins-material-theme/dist/material-{{your-color-name}}.css URL, it's working fine.

[2016-06-06 06:53] tomasdeml commented on #66
I could fix this issue by commenting out the following parts in the material-.css file:
[code]

[code]

[2016-06-07 01:30] vrenjith commented on #66
That's awesome. Let me try that

On Sunday, 5 June 2016, Tomáš Deml <notifications@github.com> wrote:

--
Regards,
Renjith

[2016-06-08 15:25] jwhitcraft opened #71 "Progress Bar and Icons not in Theme Color"
Love the new Colors, how ever the progress bar and icons are not in the theme color, they are still in the teal color.

It would be awesome if they matched the theme color.

[2016-06-08 15:49] afonsof commented on #71
Hi @jwhitcraft. Icons and progressbars reflect the actual status of build tasks. If I change their color to match to the titlebar it might be confused. Imagine someone using a red theme and seeing passed builds in red!
Anyway I agree some colors may not represent a problem. As you mentioned in your screenshot the blue theme is one of these. I'll do this change soon.

Thanks for filling out this is

[2016-06-14 13:52] stevenmirabito commented on #66
I can confirm that I'm experiencing this issue on Jenkins 1.580 with v1.3.1 of the theme.

[2016-06-23 12:21] go2sh commented on #48
The Issue still persists... Copy the code into a PR?

[2016-06-23 23:46] afonsof commented on #48
Sorry guys, I'll fix this asap

[2016-06-23 23:54] afonsof commented on #48
The pasted diff string does not fix the problem. We cannot remove the Roboto font from everything instead we have to apply the Roboto Mono to the pipeline editor.

@go2sh What plugin do I need to install to see this issue? Could you describe the steps to reproduce it?

[2016-06-23 23:57] afonsof commented on #66
@stevenmirabito that's strange for me it's OK but I'm testing with Jenkins 1.636 and 2.7. Could you update yours?

[2016-06-24 00:01] #64 closed

[2016-06-24 07:44] go2sh commented on #48
@afonsof You need the pipeline plugins (pipeline-job). Then create or alter a pipeline project. In the project configuration view you find Pipeline and then Script. This textarea is problematic.
![image](https://cloud.githubusercontent.com/assets/150886/16331366/2e8e1210-39f0-11e6-94e0-0af49560b9bc.png)

[2016-06-27 14:51] stevenmirabito commented on #66
@afonsof Unfortunately it's my work Jenkins, so I have no control over what version it runs.

[2016-07-01 09:42] meier-christoph opened #73 "Jenkins v2 pipeline stage view overlap"
Hi,
there seems to be an issue with the pipeline stage view of jenkins v2 where the first stage overlaps the build info on the left (see attachment)

it only happens when width is over 1600px and some font sizes are updated

[code]

![jenkins](https://cloud.githubusercontent.com/assets/5633369/16517960/8f73a168-3f80-11e6-8367-e35997ce455f.PNG)

Thanks!

(I am using Chrome v51.0.2704.84 on Windows

[2016-07-05 15:50] mklemarczyk opened #74 "Yellow theme, font problem"
It is hard to read dashboard when you use yellow theme, there is a yellow fond on white background.

Contrast is too low.

[2016-07-06 07:26] javiernaval opened #75 "Icons Not Overrriden for "Dashboard View Plugin""
I have recently linked jenkins-matherial-theme in our Jenkins, amazing job. But in our home page the weather icons aren't replaced. I've seen that is due to the "Dashboard View Plugin"

https://wiki.jenkins-ci.org/display/JENKINS/Dashboard+View

They have included the images without any 'class' in them.

<img src="/jenkins/static/90efd0f1/images/16x16/health-00to19.png" alt="Build stability: 4 out

[2016-07-06 15:07] bl4ckhand opened #76 "Issue with Build Monitor plugin"
The material theme css gets included in the Build Monitor plugin's view. This causes some things to display incorrectly.

https://wiki.jenkins-ci.org/display/JENKINS/Build+Monitor+Plugin

[2016-07-07 13:24] phoenix384 opened #77 "Icons for Config File Provider Plugin"
The Config File Provider Plugin adds its own icons. Would it be possible to replace them?
![verwalten](https://cloud.githubusercontent.com/assets/3883662/16654525/81b7e036-4456-11e6-987a-c6ffdd7562a9.PNG)

![cfgfile](https://cloud.githubusercontent.com/assets/3883662/16654595/d0d8b424-4456-11e6-886e-96c479e45971.PNG)

![page](https://cloud.githubusercontent.com/assets/3883662/16654524/81b37d5c-445

[2016-07-07 13:52] phoenix384 opened #78 ""Back to overview" link"
Inside projects the "Back to overview" link is moved to the top left corner hiding the Jenkins logo.
But the blank space above the "Status" link is still there. That looks a bit weird.
Since project pages are the only ones with this effect, it would perhaps be a good idea to remove that CSS completely and leave this link in its original position.

![orig](https://cloud.githubusercontent.com/assets

[2016-07-12 15:51] wbagdon commented on #78
As a compromise, I'd suggest leaving the logo and having the back button to the left of the logo
![new_render](https://cloud.githubusercontent.com/assets/1523424/16773726/f25562e0-4826-11e6-89be-6f27ad97dec2.png)

[2016-07-25 01:00] kadrach commented on #78
Turns out that's only applicable to specific pages, this would need to be manually maintained.. not ideal.

[2016-07-26 11:12] dumitruc opened #79 "Add support for Cucumber JVM plugin"
Considder adding an icon for the cucumber reports.

![missing-icon-cucumber-jvm](https://cloud.githubusercontent.com/assets/5132659/17135885/070ebaac-532a-11e6-8387-e8e79ace9ccb.png)

[2016-07-29 23:03] stevejensen22 commented on #79
Maybe this one will work?

![cucumber_bw](https://cloud.githubusercontent.com/assets/10365264/17265688/55bc7d02-55ae-11e6-99b2-42982d02a73e.png)

[2016-07-29 23:39] afonsof commented on #79
No @stevejensen22 this won't work. We need a monochromatic svg icon

[2016-08-04 15:07] riuvshin opened #80 "is it possible to change console background ?"
Love the theme but dark console background makes my crying is it possible to change it? I want everything exactly as it is but just white console background and black or gray text on it.

[2016-08-13 03:40] kulmam92 opened #81 "Adding more instruction for "Using your Jenkins Hosting" method"
One of the steps when you use "Using your Jenkins Hosting" method is "Upload the downloaded file to your web server". Would it be possible to include information that you can use Jenkins to host downloaded CSS file?
If you put CSS file in <JenkinsHome>\userContent folder(C:\Program Files (x86)\Jenkins\userContent)?
You can access from <Jenkins URL>/userContent/(ie http://MyJenkins/userContent/jenk

[2016-08-17 11:44] JohnnyQQQQ commented on #76
I had the same issue, I build a little js-script that removes the css on a build monitor view.

https://gist.github.com/JohnnyQQQQ/e118e680345231b7139bfaa9e1d83408

Just fork the gist and replace both urls with yours :rocket:

[2016-09-09 13:51] icotton opened #84 "In progress column pushes stop button behind status icon"
This happens when a running build has a name that causes the test to stretch into the next column on the main view. The button to stop the build becomes partially obscured behind the status icon.
![jenkinscolumns](https://cloud.githubusercontent.com/assets/1670367/18389145/606f81ea-769c-11e6-9f28-d5ef9cfd76cc.png)

[2016-09-26 16:20] chamunks opened #85 "Seems this theme doesn't really like the latest version of Jenkins."
![cham-screenshot](https://cloud.githubusercontent.com/assets/1068374/18842561/7252ac9e-83e3-11e6-881e-af511fb35f86.png)
Not entirely certain if you plan to make this available for the latest version of Jenkins or not.

``` Page generated: Sep 26, 2016 4:15:51 PM UTCREST APIJenkins ver. 2.23 ```

[2016-09-27 18:42] basecamp88 commented on #85
How does this build configuration page look without the theme?

[2016-09-27 19:12] chamunks commented on #85
I would accept PR's, it's been a while since I've needed this but I just wanted something that people could use instead of packing their sshd's into every damn container after hearing time and time again one process one container.

I'll look over your fork when I get to a computer next.

[2016-09-27 19:21] afonsof commented on #85
This is not happening here, take a look:
![image](https://cloud.githubusercontent.com/assets/805511/18888346/e6f9b97e-84c5-11e6-958f-f854adeb7511.png)

Are you using the last version (1.3.1)?

[2016-09-27 19:40] basecamp88 commented on #85
This happens in general when you have long lines in scripts. The script box forces the left margin to extend, some items on the page follow the left margin.

This happens in vanilla theme in 2.x also.

[2016-09-27 20:37] afonsof commented on #85
So it's not a Jenkinks Material Theme, right? Can I close this issue?

[2016-09-27 21:47] chamunks commented on #85
@afonsof the original bug report that I had filed was for the Jenkins Material Theme, as soon as I take the reference to the CSS out of the jenkins configuration it normalises.

[2016-10-02 19:57] #85 closed

[2016-10-04 10:10] ssbarnea opened #86 "timestamp background color is white instead of black/transparent."
It seems that we have this piece of code inside style.css which is wrong:
[code]
If this is commented the console will look fine.
[https://www.dropbox.com/s/ewuanccrmio8w17/Screenshot%202016-10-04%2011.10.27.png?dl=0](url)

[2016-10-05 11:47] infabo commented on #53
This does not work, because https://afonsof.com/jenkins-material-theme/dist/material-<color>.css does not provide a SSL certificate and so any browser will silently disallows download.

[2016-10-14 07:25] colemickens opened #87 "afonsof.com CSS linkes are broken due to SSL issue"
<img width="1098" alt="screen shot 2016-10-14 at 12 25 01 am" src="https://cloud.githubusercontent.com/assets/327028/19378995/b3d301ae-91a4-11e6-820d-50378651a126.png">

[2016-10-14 07:26] colemickens commented on #87
Workaround is to use: https://jenkins-contrib-themes.github.io/jenkins-material-theme/dist/material-indigo.css

or: https://raw.githubusercontent.com/afonsof/jenkins-material-theme/gh-pages/dist/material-blue.css

@afonsof Can you advise on which is better to use in the short-term?

[2016-10-14 07:28] colemickens commented on #87
Actually, only this one works: https://jenkins-contrib-themes.github.io/jenkins-material-theme/dist/material-indigo.css

I'm guessing raw.githubusercontent.com  serves the wrong mime-type.

[2016-10-14 14:46] afonsof commented on #87
Thanks for informing me. Yesterday I bought a certificate and set it up on my domain. Unfortunately for some reason it's not working yet. Please use this URL temporarily: https://raw.githubusercontent.com/afonsof/jenkins-material-theme/gh-pages/dist/material-blue.css

[2016-10-14 15:51] colemickens commented on #87
Yeah, like I said, github doesn't serve that with the right mime-type and it doesn't seem to actually work.

The `https://jenkins-contrib-themes.github.io/jenkins-material-theme....` version works though.

[2016-10-14 16:26] afonsof commented on #87
Yesterday I bought a certificate and set it up on my domain. Unfortunately for some reason it's not working yet.

For a while the best version to use is: https://jenkins-contrib-themes.github.io/jenkins-material-theme/dist/material-indigo.css

You can also use a non https version at afonsof.com

[2016-10-17 14:57] TobiX commented on #87
Well, you could use the [RawGit CDN](https://rawgit.com/) for hosting, like so: https://cdn.rawgit.com/afonsof/jenkins-material-theme/0eaa0f147de5844c422fd01b71f5d6bbd30bda6c/dist/material-red.css - Be aware that files on cdn.rawgit.com are cached permanently, so you need to use tags or commit IDs (so no automatic updates).

[2016-10-31 19:42] hesantan opened #88 "Job Configuration Overflow"
If the configuration page for any job, the contents of the sections is always overflowing:
![download 1](https://cloud.githubusercontent.com/assets/7285501/19868684/8008b3bc-9f7f-11e6-9d7f-12f6ad9ecb32.png)

I haven't had time to take a hard look myself to see what's causing this, but I updated to the latest version and it still happens. I'm using a local version of the theme with a custom logo. I

[2016-11-03 08:13] vrenjith opened #89 "Thank you, Thank you, Thank you"
I am not sure how much I can thank you for spending efforts in getting this done for Jenkins. It is such an amazing improvement for our Jenkins instance and it looks great with this new theme. Thank you so much.

(didn't find a way to reach you to say this and hence this issue, please close it)

[2016-11-03 16:46] afonsof commented on #89
You're very welcome @vrenjith. Feel free to open issues or contribute with pull requests.

[2016-11-03 16:46] #89 closed

[2016-11-11 12:39] svscorp commented on #73
Similar issue, @afonsof can you kindly have a look to this?

[2016-11-11 12:48] svscorp opened #90 "Jenkins v2 pipeline code editor is broken"
Hi @afonsof

First of all, thank you very much for this initiative. Jenkins looks much better applying this theme! That's a great job done!

I'd like to report on one more issue (found by @jos4github), in addition to #73

When editing pipeline as code, editor behaves very badly. You can't really figure out what are you typing or what character you will delete if you place your cursor in a middle o

[2016-11-11 12:53] svscorp commented on #90
+ @jos4github

[2016-11-16 16:40] wbagdon commented on #90
Which browser, OS, version of material-theme, and version of Jenkins are you using?
I resolved this issue with #62 previously and it still seems to work with Jenkins 2.31 and material-theme 1.3.2 on chrome windows

[2016-11-17 08:19] jos4github commented on #90
We are Using Windows7 with Chrome (Version 54.0.2840.99 m (64-bit)) and also IE 11 on both browsers I have the same issue. Jenkins is running on a linux server.

Jenkins version is 2.32 (but with version 2.31 the issue was found) and material-theme is 1.3.2 as you can see in the screenshot. It also shows the that when you wants something to the end of the line the cursor is say 3 chars of track.

[2016-11-17 15:15] wbagdon commented on #90
The fonts are loaded client side from fonts.googleapis.com
Does your Win7 machine have access to the internet to download the font?
Does this page render correctly in your browser? https://developers.google.com/fonts/docs/getting_started
I suppose a fallback mono font should be used in case the Google font cannot be downloaded

[2016-11-18 15:03] ebalsumgo opened #91 "master.source.test.do/dist/theme.js doesnt exist"
So I am trying to install this theme and the URL for the theme.js does not exist which then throws errors in Chrome. is there a new URL for the theme.js file?

[2016-12-02 00:51] hidekuro opened #92 "the domain "afonsof.com" is dead?"
I accessed http://afonsof.com/jenkins-material-theme and got messages follow:
"The domain afonsof.com is no longer parked by GoDaddy".

<img width="500" alt="image" src="https://cloud.githubusercontent.com/assets/3986668/20818967/a469d8c2-b874-11e6-9c31-c90b42d7d9b9.png">

[2016-12-02 12:35] afonsof commented on #92
Sorry I'm going to fix this.

[2016-12-05 10:51] litrik commented on #92
FYI: I had to disable the Material theme because of this. The Jenkins UI had become extremely slow.

[2016-12-05 13:29] ssbarnea commented on #92
I think that the the material theme kinda dematerialized due to godaddy issues.

[2016-12-05 22:35] afonsof commented on #92
Problem solved. GoDaddy issues for sure!

[2016-12-05 22:35] #92 closed

[2016-12-05 22:39] afonsof commented on #91
master.source.test.do??? I have no idea what you are trying to do. The correct url is `http://afonsof.com/jenkins-material-theme/dist/material-teal.css`. You can also replace `teal` by a color of your choice. Take a look at `http://afonsof.com/jenkins-material-theme/`

[2016-12-05 23:02] ebalsumgo commented on #91
Install the plugin. Go to settings page and there are two URLS one for the CSS as you point out and one for the theme.js file. By default they both point to a weird URL as what I reported. When inspecting a page load there are numerous references to said js file that fail... well because it doesn't exist.

[2016-12-13 16:21] kkutsner opened #93 "Progress bar column disappears when mouse over it"
My view includes progress bar for each job in the list:

<img width="259" alt="screen shot 2016-12-13 at 8 12 37 am" src="https://cloud.githubusercontent.com/assets/2157905/21148241/79b0339c-c10c-11e6-9144-8bb1b17e6698.png">

When I move mouse pointer over it it disappears:

<img width="227" alt="screen shot 2016-12-13 at 8 12 52 am" src="https://cloud.githubusercontent.com/assets/2157905/21148230

[2016-12-13 16:27] kkutsner opened #94 "Missing theme icons: Safe Restart Plugin, Managed Files"
Just in case, I see a few missing theme icons:
<img width="547" alt="screen shot 2016-12-13 at 8 25 38 am" src="https://cloud.githubusercontent.com/assets/2157905/21148694/e875f0ae-c10d-11e6-8bd8-b0995b782f4b.png">
Another example:
<img width="293" alt="screen shot 2016-12-13 at 8 24 01 am" src="https://cloud.githubusercontent.com/assets/2157905/21148689/e70f8360-c10d-11e6-9644-af638e32e37c.png">

[2016-12-15 18:55] paralin opened #95 "HTTPS Broken"
Your HTTPS is invalid on your site

https://afonsof.com/jenkins-material-theme/dist/material-teal.css

[2016-12-20 13:01] luka5z commented on #90
I experiencing the same exact problem with Firefox 50.1.0 and Ubuntu 16.04.

[2016-12-20 13:47] wbagdon commented on #90
In Firefox if you inspect the editor, which font do you have listed?

![capture](https://cloud.githubusercontent.com/assets/1523424/21352751/f16606b2-c690-11e6-979d-b5f3625993a6.PNG)

[2016-12-20 14:30] wbagdon commented on #90
Can you try building this and let me know if it works for you?
https://github.com/wbagdon/jenkins-material-theme/tree/linux_font_patch

I tried it with Firefox 50.1.0 and Ubuntu 16.10 and Win 7 and Firefox 50.1.0.

In case you cannot build it, here is the CSS file (just needs the extension changed back to CSS)

[material.css.txt](https://github.com/afonsof/jenkins-material-theme/files/663924/mater

[2016-12-20 14:54] svscorp commented on #90
@wbagdon the google dev page opens correctly. But we both experiencing same behavior. Need to reapply the theme and see if it is still the case.

Thank you very much returning on this and contributing your time to help with troubleshooting :)

[2016-12-20 15:06] svscorp commented on #90
@wbagdon @jos4github
Just checked. Same situation - clicked on the end of a line, cursor is somewhere 3.5 symbols back...

Win 7
Jenkins 2.37
material-css generated from the site as of now
Chrome: Version 55.0.2883.87 m

[2016-12-20 15:18] wbagdon commented on #90
Generated from my fork and branch linux_font_patch?
I've bumped the version to 1.3.3 now if you want to rebuild and check that you have the right version.

[2016-12-20 15:21] igisur commented on #90
I've tried attached "material.css.txt" and it does work with Firefox 50.1.0 on Win10

[2016-12-23 19:16] i8ramin opened #97 "Why line-height: 20px !important on body?"
Wondering why this theme sets a line-height of 20px with `!important` on it? Setting `line-height: 1.5` would essentially be the same, but also work better for when larger text wraps. For example, using the Build Monitor Plugin (https://wiki.jenkins-ci.org/display/JENKINS/Build+Monitor+Plugin):

## line-height: 20px !important

<img width="1232" alt="screen shot 2016-12-23 at 2 13 50 pm" src="http

[2016-12-28 12:53] wbagdon commented on #90
@svscorp @jos4github @luka5z
Any luck with my attached file or building from my forked branch?

[2016-12-29 11:27] svscorp commented on #90
@wbagdon @jos4github @afonsof

I checked your attached file - it is working fine. Great Job!

Can it be merged / compiled to css in the main project?

[2016-12-29 15:43] afonsof commented on #90
For sure @svscorp!

@wbagdon could you create a pull request?

[2016-12-29 15:46] wbagdon commented on #90
Already created

On Thu, Dec 29, 2016, 10:43 AM Afonso F <notifications@github.com> wrote:

[2016-12-29 16:40] wbagdon opened #98 "Memory Map Plugin: Missing Icon"
Can you add this icon to replace the icon for Memory Map Plugin?
https://materialdesignicons.com/icon/chip
"/static/ea6519fe/plugin/memory-map/images/64x64/memory.png"

I can add the icon myself given some instructions

[2017-01-01 19:55] kissifrot commented on #95
I personally used
https://jenkins-contrib-themes.github.io/jenkins-material-theme/dist/material-teal.css
and it seems it works

[2017-01-03 16:53] vadim-shb commented on #90
Hi. Thanks for your great work!
It seems like PL is accepted. Is the patch already in http://afonsof.com/jenkins-material-theme/dist/material-blue-grey.css?
Or it will be updated some time later?

[2017-01-03 17:13] afonsof commented on #90
Hi @vadim-shb. The CSS file was just updated. Thank you!

[2017-01-03 17:13] #90 closed

[2017-01-06 15:04] mickaelperrin opened #99 "Static version has still animated progress bar"
Hi,

I have big performance troubles with the animated CSS in your very good theme. I use Chrome and several times in a day, Chrome is getting nearly unresponsive and use almost 100% CPU.

Closing the tab with Jenkins resolve the problem.

It looks like it is related to the animated CSS. I use https://jenkins-contrib-themes.github.io/jenkins-material-theme/dist/material-static.css as theme.

Howev

[2017-01-31 01:39] felipeplets commented on #95
@kissifrot the problem is that this link is outdated, the current version is 1.3.3 and the one you sent is 1.3.1.

I gave up on using it online and hosted it myself.

[2017-02-20 13:49] p00j4 opened #100 "css render fails with 403 forbidden"
```jenkins version:2.46```
following the [doc](https://github.com/afonsof/jenkins-material-theme)
I have uploaded the css file to my s3 bucket and linked it in jenkins but it fails always, the same happens with even the afonsof.com/jen list also
```Failed to load resource: the server responded with a status of 403 (Forbidden)```

<img width="1011" alt="screen shot 2017-02-20 at 6 35 53 pm" src="ht

[2017-02-22 13:39] schaveyt opened #101 "Feature Request: In addition to specifying company logo, also specify company title"
First off, this theme is amazing and you have done a wonderful job!

I am applying your thing and using your site to specify a company logo as well. It works great!

However, our company logo has a dark blue font in it transparent png...that well cannot be seen very well over top of any of the blue, light-blue or indigo color palettes.

The feature request is to allow the user to also specify a co

[2017-02-27 20:58] kissifrot commented on #87
@afonsof , you should check the site https://www.ssllabs.com/ssltest/analyze.html?d=afonsof.com , you'll see the reasons why your certificate doesn't work.
BTW you can now use [Let's Encrypt](https://letsencrypt.org/) to get a free SSL certificate

[2017-02-28 12:07] m1h4 opened #102 "Console output ocasionally does not use monospace font"
Sometimes the style:

    :not(div.ace_editor)

overrides the Roboto Mono font in a Console Output.

Generally the Console Output page randomly gets Roboto Mono overriden with Roboto. I have not been able to figure out an exact pattern for when this occurs yet...

[2017-02-28 19:11] SimJoSt commented on #95
bump

[2017-03-01 07:20] kissifrot commented on #95
See #87

[2017-03-15 08:04] Poeschl opened #103 "Small buttons and missing context menu background on Job Config"
I applied the indigo theme on our Jenkins v2.41, and found that the buttons in the job configuration get very very thin. See the attached image.

Also the context menu for adding new build steps is missing a background, so the new steps are just there as text overlay. See also image.

![css buttons](https://cloud.githubusercontent.com/assets/5469257/23938822/2d13cf04-095e-11e7-9456-122eec52efc7.PN

[2017-03-17 09:28] danielbcorreia opened #104 "Missing icon for multibranch pipeline (Jenkins 2.50)"
Somewhere along the new jenkins version 2.50 a new multibranch pipeline folder icon was introduced. This makes the template use the standard icon instead of the "flat" one.

The name of the icon is pipelinemultibranchproject.png

![image](https://cloud.githubusercontent.com/assets/818210/24037014/14579abc-0af4-11e7-996f-0c1246be62d9.png)

[2017-03-18 19:01] jszaszvari commented on #87
Get a letsencrypt certificate if your current one is not working.

The certificate thats being hosted is the one from *.github.com

[2017-03-21 08:56] darkwinternight commented on #87
It's still not working by the way :) Chrome does not render the theme at all unless you accept the incorrect certificate.

[2017-03-23 16:23] ssbarnea opened #105 "SSL certificate is broken rendering them useless"
It seems that SSL certificates is brokened, which makes the "CDN" useless:
https://afonsof.com/jenkins-material-theme/dist/material-brown.css

[2017-03-27 07:32] darkwinternight commented on #105
This really needs to be fixed.

[2017-03-27 13:53] afonsof commented on #87
afonsof.com/jenkins-material-theme is hosted at GitHub and is a shortcut for afonsof.github.io/jenkins-material-theme. I bought a certificate for the domain afonsof.com however this is not working properly because this shortcut. Anyone with experience in this area can help me?

[2017-03-27 13:54] afonsof commented on #105
afonsof.com/jenkins-material-theme is hosted at GitHub and is a shortcut for afonsof.github.io/jenkins-material-theme. I bought a certificate for the domain afonsof.com however this is not working properly because this shortcut. Anyone with experience in this area can help me?

[2017-03-27 13:57] afonsof commented on #101
What about changing your logo font color?

[2017-03-27 13:57] darkwinternight commented on #87
@afonsof sure, I can help you set this up.

First of all, the certificate that is now being served belongs to github.com, not to afonsof.com. How did you set up this "shortcut" and what is the server running on afonsof.com?

[2017-03-27 14:24] ssbarnea commented on #105
I would host it on S3 as you can get SSL for free and real-reliability. The cost of hosting these files would probably be smaller than a certificate anyway.
Also, if you use S3 you can also log the requests in case you want to get some analytics after that.

[2017-03-27 14:35] darkwinternight commented on #105
Or forget the custom domain and use SSL on GitHub pages. https://konklone.com/post/github-pages-now-sorta-supports-https-so-use-it

[2017-03-27 14:38] ssbarnea commented on #105
@darkwinternight Indeed, another place where less (complexity) is more (reliability).

[2017-03-27 20:04] schaveyt commented on #101
Ha. I wish it could but it is not something I have control over. No matter, I have a goo enough solution that seems to work now.

You can close this issue if you like

[2017-03-27 20:04] #101 closed

[2017-03-27 20:04] schaveyt commented on #101
Apparently I have the ability to close it. Perfecto!

[2017-03-30 08:40] Poeschl commented on #103
It seems that v 2.41 have a different id for the page content. If a search is made for ``page-content`` and replace it with the ``jenkins`` id that style is working again.

[2017-04-03 02:10] frekele commented on #105
You can use the github domain, simply like this:

https://raw.githubusercontent.com/

https://raw.githubusercontent.com/afonsof/jenkins-material-theme/gh-pages/dist/material-red.css

[2017-04-03 09:26] darkwinternight commented on #105
Yes @frekele, that is what most people are probably doing now. It seems that @afonsof wants a custom domain though.

[2017-04-03 18:39] afonsof commented on #105
In fact I just want everything working @darkwinternight. So all we need to do is to change the docs to point to raw.github... excellent idea @frekele!

[2017-04-03 18:43] afonsof commented on #95
Changed in the docs. Please use `https://raw.githubusercontent.com/afonsof/jenkins-material-theme/gh-pages/dist/material-{{your-color-name}}.css`

[2017-04-03 18:43] #95 closed

[2017-04-03 18:44] afonsof commented on #105
Changed in the docs. Please use `https://raw.githubusercontent.com/afonsof/jenkins-material-theme/gh-pages/dist/material-{{your-color-name}}.css`

[2017-04-03 18:44] #105 closed

[2017-04-03 18:44] afonsof commented on #87
Changed in the docs. Please use `https://raw.githubusercontent.com/afonsof/jenkins-material-theme/gh-pages/dist/material-{{your-color-name}}.css`

[2017-04-03 18:44] #87 closed

[2017-04-07 11:02] meinnamehier opened #106 "Resource interpreted as Stylesheet but transferred with MIME type text/plain"
I am using Jenkins V 2.46.1

I can access the css files (e.g. https://raw.githubusercontent.com/afonsof/jenkins-material-theme/gh-pages/dist/material-green.css), put when I apply them using the Simple Theme Plugin, nothing changes.

When I use another theme, like this one, it works: http://jenkins-contrib-themes.github.io/jenkins-neo-theme/dist/neo-light.css

[2017-04-07 11:03] meinnamehier commented on #106
In the console output of Chrome I get this:
Resource interpreted as Stylesheet but transferred with MIME type text/plain: "https://raw.githubusercontent.com/afonsof/jenkins-material-theme/gh-pages/dist/material-green.css".

[2017-04-07 15:19] timbru31 commented on #106
Firefox even does block this "malicious" request: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Content-Type-Options

[2017-04-08 17:16] wbagdon commented on #106
You can use [rawgit](https://rawgit.com/) to provide the correct MIME type
https://cdn.rawgit.com/afonsof/jenkins-material-theme/gh-pages/dist/material-green.css

[code]

[2017-04-10 11:40] SalahAdDin opened #107 "Styles doesn't change in Jenkins 2.53"
Hi guys

I installed the latest `jenkins` version, which is `2.53`.

I proceeded to install the styles in my project:
![seleccion_316](https://cloud.githubusercontent.com/assets/5034215/24860050/72ebfb12-1dfb-11e7-8d6f-8f7c01d45713.png)

But styles doesn't change:
![configurar el sistema jenkins - chromium_317](https://cloud.githubusercontent.com/assets/5034215/24860086/9baacd8a-1dfb-11e7-86ff-afb

[2017-04-10 12:19] BonarBeavis commented on #80
[AnsiColor Plugin - Jenkins - Jenkins Wiki](https://wiki.jenkins-ci.org/display/JENKINS/AnsiColor+Plugin)

[2017-04-10 13:36] benathmane commented on #107
Hello,

Try : http://afonsof.com/jenkins-material-theme/dist/material-light.css
or :
1. generate your theme (file.css for example) : http://afonsof.com/jenkins-material-theme/
2. Copy the file css (file.css) content into your $JENKINS_HOME/userContent/
3. In your jenkins configuration : URL of theme CSS = http://localhost/userContent/file.css

crdlt
AB

[2017-04-10 13:58] afonsof commented on #106
Changed to use CDN

[2017-04-10 13:58] #106 closed

[2017-04-10 13:59] afonsof commented on #107
Hi @SalahAdDin please use the CDN file: https://cdn.rawgit.com/afonsof/jenkins-material-theme/gh-pages/dist/material-{{your-color-name}}.css

[2017-04-10 15:07] SalahAdDin commented on #107
@afonsof Can you update the documentation please?

[2017-04-11 20:18] timbru31 commented on #107
@SalahAdDin It's updated :)

[2017-04-11 20:37] #107 closed

[2017-04-11 23:08] SalahAdDin commented on #107
In the official web page also, isn't it?

[2017-04-12 11:53] SalahAdDin commented on #80
@BonarBeavis, good plug in, thank you.

[2017-04-14 17:44] docwhat commented on #102
This is especially true in Safari, for some reason. :-/

[2017-04-15 15:28] mhmdio opened #109 "Missing icons for Managed files and Backup manager"
- Jenkins 2.46.1

![](https://photos-6.dropbox.com/t/2/AACdhnNrLvjSNzyb0hc2I7vLD1NHeUlfotegF4L-uzRSsg/12/7572597/png/32x32/3/1492286400/0/2/Screen%20Shot%202017-04-15%20at%206.24.30%20PM.png/EPm78RQYigIgBygH/zq4O86l0Vr1QD4WGmZ3o_dfNvD5rb_RHBbrwNMFdp8o?dl=0&size=2048x1536&size_mode=3)

[2017-04-22 14:56] timbru31 opened #111 "Missing icon for "Perform Maven Release""
![perform_maven_release](https://cloud.githubusercontent.com/assets/838003/25305496/9e8e67ac-277c-11e7-8553-73b969c48f47.png)

[2017-04-22 14:56] timbru31 opened #112 "Missing icon for "Embeddable Build Status""
![embeddable_build_status](https://cloud.githubusercontent.com/assets/838003/25305499/ab28eab4-277c-11e7-883f-0f06da05721e.png)

[2017-04-22 14:57] timbru31 opened #113 "Missing icon for "Delete All Disabled Modules""
![delete_all_disabled_modules](https://cloud.githubusercontent.com/assets/838003/25305500/b24d7e18-277c-11e7-9b3e-28f4e3ff7965.png)

[2017-04-23 13:47] timbru31 opened #114 "Missing icon for "Redeploy Artifacts""
![redeploy_artifacts](https://cloud.githubusercontent.com/assets/838003/25314042/315853ee-283c-11e7-9803-df5f40c01904.png)

[2017-04-23 13:48] timbru31 opened #115 "Missing icon for "Environment Variables""
![env_vars](https://cloud.githubusercontent.com/assets/838003/25314043/3f4e0b1a-283c-11e7-9764-923eb78bf81a.png)

[2017-04-23 13:48] timbru31 opened #116 "Missing icons for "Git/GitHub""
![git](https://cloud.githubusercontent.com/assets/838003/25314049/4c05b740-283c-11e7-8905-dd5f004be933.png)

[2017-04-24 16:30] #73 closed

[2017-04-24 16:33] afonsof commented on #75
Hi javiernaval, could you create a Pull Request with these modifications?

[2017-04-28 09:36] #80 closed

[2017-05-08 15:02] svscorp commented on #73
Hi @afonsof, I can see that issue is closed, but I checked latest CSS - it is still there.

Therefore, reopening...

[2017-05-08 15:03] svscorp commented on #73
Should I create new issue?

[2017-05-09 06:56] hrcornejo opened #117 "Missing icons for "SonarQube""
![imagen](https://cloud.githubusercontent.com/assets/16071760/25838844/5f36b75a-3495-11e7-91f9-5184aefcea18.png)

[2017-05-09 06:59] hrcornejo opened #118 "Missing icons for "Dependency-Check""
![imagen](https://cloud.githubusercontent.com/assets/16071760/25838946/c7d7b05c-3495-11e7-8853-2f68e1db05a7.png)

[2017-05-09 07:01] hrcornejo opened #119 "Missing icon for "JaCoCo""
![imagen](https://cloud.githubusercontent.com/assets/16071760/25838997/098b0364-3496-11e7-957f-247ba2852c8f.png)

[2017-05-09 07:03] hrcornejo opened #120 "Missing icons for "Rational Team Concert Plugin (RTC)""
![imagen](https://cloud.githubusercontent.com/assets/16071760/25839059/58c9430a-3496-11e7-8cd1-84000970c030.png)

[2017-05-09 07:04] hrcornejo opened #121 "Missing icons for "Parameters / Enviroment Variables""
![imagen](https://cloud.githubusercontent.com/assets/16071760/25839087/7ced876e-3496-11e7-80c1-fdb5df287bba.png)

[2017-05-09 10:36] pteichner opened #122 "Missing Icon P4 Trigger"

[2017-05-09 10:37] pteichner opened #123 "Missing Icon Query and Trigger Gerrit Patches"
![image](https://cloud.githubusercontent.com/assets/28305157/25846951/e5ecdd5e-34ab-11e7-87e2-774b9f5c2e33.png)

[2017-05-09 10:38] pteichner opened #124 "Missing Icon Gerrit Trigger"
![image](https://cloud.githubusercontent.com/assets/28305157/25846990/12761f70-34ac-11e7-8826-88ff75e0d510.png)

[2017-05-09 10:39] pteichner opened #125 "Missing Icon Managed Files"
![image](https://cloud.githubusercontent.com/assets/28305157/25846999/1e294da6-34ac-11e7-9ae3-bd0d82d59d90.png)

[2017-05-09 10:39] pteichner opened #126 "Missing Icon Configuration Slicing"
![image](https://cloud.githubusercontent.com/assets/28305157/25847016/31c22770-34ac-11e7-88f2-80c2a27087b6.png)

[2017-06-18 10:31] nfalco79 commented on #38
Resolved

[2017-06-18 10:31] #38 closed

[2017-06-29 20:31] SalahAdDin commented on #73
@afonsof Re open this!

[2017-07-26 16:27] hgfischer opened #129 "Broken pipeline layout"
Hello,

Thanks for this awesome work!

I'd like to report that when using this theme, I've got a broken pipeline layout.

![selection_016](https://user-images.githubusercontent.com/120860/28632186-faf8e500-722f-11e7-89c2-cbb32820cced.png)

[2017-07-26 16:28] afonsof commented on #129
Thanks for opening this issue. which Jenkins version are you using?

On Wed, Jul 26, 2017, 13:27 Herbert Fischer <notifications@github.com>
wrote:

--

Afonso F

[2017-07-26 16:30] hgfischer commented on #129
Version 2.71

[2017-07-27 07:27] acrazing opened #130 "Chrome could not recognize the dist in gh-pages branch."
Env: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/59.0.3071.115 Safari/537.36`

The preview of the network panel:

<img width="778" alt="qq20170727-152213 2x" src="https://user-images.githubusercontent.com/10029810/28658882-e56fba8c-72df-11e7-87ce-37df021abc58.png">

And the theme is not effective, if I format the code in Sources panel, then all is

[2017-07-27 17:50] afonsof commented on #130
I don't understand what is your problem. Could you be more specific?

[2017-07-27 17:54] afonsof commented on #129
I don't know how to simulate this problem once it's working properly in my env.
![image](https://user-images.githubusercontent.com/805511/28684554-36ba3bd8-72db-11e7-8a36-3d61487ec766.png).
Please send me: Screen resolution, browser version, Jenkins version, Jenkins Material Theme version.

[2017-07-31 07:06] amit-srivastava-007 opened #131 "Suggestion: font in console output can be change to make it look more like console output"
Hi,

Its my personal suggestion that font in console can be change to consolas or courier to make output look more similar to actual shell console.

Regards
Amit

[2017-08-04 07:12] hgfischer commented on #129
Hi @afonsof

I've noticed this on:

- Full-HD screen (1920x1080)
- latest Chrome for Linux - 60.0.3112.78 (Official Build) (64-bit)
- Jenkins 2.7.1
- current cdn.rawgit.com version of the theme (v1.3.3)

I also noticed that if I zoom in twice (125%) in the browser (`Ctrl`+`+`) the misalignment goes away, but then the fonts are huge.

I am using Ubuntu and I have most of the common Microsoft and Ap

[2017-08-07 18:07] wavded opened #132 "Compact header bar?"
Thoughts on a more compact header bar?  Seems to take up more space than necessary and pushes most accessed content down.

[2017-08-17 15:10] tsia opened #133 "status icon missing when running job is disabled"
![screen shot 2017-08-17 at 17 09 48](https://user-images.githubusercontent.com/1386595/29419252-ebd70a0c-836e-11e7-928a-e09416f546b7.png)

`<img style="width: 16px; height: 16px; " alt="In progress" class="icon-disabled-anime icon-sm" src="/static/c4763097/images/16x16/disabled_anime.gif" tooltip="In progress" title="In progress">`

[2017-08-17 17:00] savarirajpeter opened #134 "sticky headerr"
Your theme is good, but it will be great if we introduce the sticky header.

[2017-08-22 15:13] savarirajpeter commented on #134
Could you please let me know how to achieve this

[2017-08-24 18:48] GloryFish commented on #129
I'm also seeing this behavior. It's occurring for when the viewport width exceeds 1600px.

[2017-09-01 08:19] dcrystalj opened #135 "dark theme"
Is there a way to support dark theme? basically white font and black  background.

[2017-09-06 10:02] oyvindlr opened #136 "Missing "distribution" bars in plugins using "Static Analysis Utilities""
For example, in the jenkins "warnings" plugin.
Original:
![image](https://user-images.githubusercontent.com/26904441/30106078-af62a978-92fa-11e7-95a9-d4f81bb47afb.png)

With theme:

![image](https://user-images.githubusercontent.com/26904441/30106263-2abd8f52-92fb-11e7-9ca3-96c7b0e11fba.png)

[2017-09-08 09:12] oyvindlr commented on #136
The offending css is this:
table.pane tr:nth-child(odd) td{background-color:#fff}

[2017-11-16 16:06] kernalex2 opened #138 "Inconsistency: in /view/.../builds"
The animated icon for "project is running for the first time" isn't consistent (not overriden/forgotten in css).
The same running project shows "gray spinning arrows" in all other views. In /view/all/builds (and also in similar group view) it is "gray breathing bullet" similar to the standard theme.

[2017-12-06 14:35] oberos opened #139 "Missing icon for "Full Stage View""
![image](https://user-images.githubusercontent.com/13794575/33666641-ecd1a18c-da9a-11e7-8cbd-4358de961b0d.png)

[2017-12-12 21:23] mattvonrocketstein opened #140 "breaking ansicolor!"
First, this theme is amazing.. thank you very much for making jenkins-classic look presentable.  I can't give up this awesomeness, but I think CSS might be breaking the [ansicolor plugin](https://github.com/jenkinsci/ansicolor-plugin) which I also can't live without.  Bold styles seem to have some kind of support, but colors get lost in my output on my chrome.

I'm using this CDN link: https://cdn

[2017-12-24 14:31] ytidhar opened #141 "task-icon-link position is "absolute" and it hiding the logo"
![image](https://user-images.githubusercontent.com/17106289/34327227-a484d724-e8c7-11e7-9b24-670a23c4d0ad.png)

[2017-12-29 09:56] garretua commented on #129
Any updates on this?

[2017-12-29 16:07] externl commented on #129
This project seems to have been abandoned.

[2018-02-02 07:33] Khaos66 opened #142 "More contrast on section headers of plugin "Collapsing Console Sections Plugin""
When the "Collapsing Console Sections Plugin" is used the section headers show white text in light grey background. Also the "Show Details" / "Hide Details" Buttons are dark grey on darker grey.

[2018-02-20 15:36] vlehm commented on #64
I had the same issue. However, after checking the parameter "Jenkins URL" and the URL to local content for correctness (starting slash, etc) it worked. If someone else runs into this, try playing around with those settings ;)

[2018-03-02 17:29] thcp opened #143 "THeme usage without internet Access."
Currently it's possible to use this theme on a jenkins server on a secure network without internet connection?

[2018-03-02 20:20] externl commented on #143
@tchp I haven't tried this but I think copying and pasting all of `https://cdn.rawgit.com/afonsof/jenkins-material-theme/gh-pages/dist/material-{{your-color-name}}.css` into the `Extra CSS` might work for you.

[2018-04-11 17:18] wanderanimrod opened #146 "Missing icons: replay and pause/resume"
<img width="210" alt="screen shot 2018-04-11 at 1 16 47 pm" src="https://user-images.githubusercontent.com/3718698/38632432-be172e90-3d8a-11e8-8463-11426acda1a8.png">

[2018-04-26 10:44] DJViking commented on #135
Would love a dark material theme. Or at least one that work with dark jenkins stylish theme.
I am using the Dark Jenkins Stylish theme in addition, but when looking at Console Output the background is grey-ish with black text.

[2018-05-02 11:40] fgimian commented on #131
I noticed this too and was hoping it could be considered please.  The default Jenkins theme uses a better font for this purpose I believe.

[2018-05-05 15:53] thcp commented on #143
@externl

It seems it doesn't work on a server that is on a secure zone. I currently made it work partially by downloading  Roboto and Roboto-Mono and importing locally by changing the following imports from:

`@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500,300);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,700,500,300);`

to

`@import url(Roboto-Mono

[2018-06-12 09:55] vighneshpai-yml opened #147 "pClody.com is shown in header."
I'm not sure why pCloduy.com is shown in header.

here is the piece of code when I inspected the code:

<img src="/static/aa57ef81/images/title.png" alt="title" width="139" id="jenkins-name-icon" height="34">

[2018-07-23 14:50] Sylwekqaz commented on #140
It seems to me that the problem is through universal selector. Universal selector select all nested objects, and it's hard to overwrite this rule. Changing `-output, .console-output *` to `-output, .console-output pre` solves the problem

[2018-07-31 19:35] thisdudeiknew opened #150 "Missing icon: aborted-anime in GitHub Pull Request Status"
The icon is correctly replaced in the Build History:
<img width="251" alt="aborted-anime-build-history" src="https://user-images.githubusercontent.com/17346552/43482616-34df33a8-94d7-11e8-8151-1701e164c20d.png">

However, it is not replaced in the GitHub Pull Request Status plugin:
<img width="142" alt="aborted-anime-github-pr-status" src="https://user-images.githubusercontent.com/17346552/4348264

[2018-08-30 14:06] CCFenner opened #151 "Image size not correct: Github-branch-source-plugin"
I don't know is this issue can be solved in here: When I use this theme, folder and job icons are rendered with `43.2px`, but icons that are generated by the [github-branch-source-plugin](https://github.com/jenkinsci/github-branch-source-plugin) still use `32px`. This looks a bit odd.

<img width="119" alt="bildschirmfoto 2018-08-29 um 09 24 53" src="https://user-images.githubusercontent.com/26137

[2018-09-03 08:16] CCFenner opened #152 "wrong font on text input"
In the pipeline input on a pipeline job the font is not displayed correct. Thus it is hard to write and especially replace/delete text.
![bildschirmfoto 2018-09-03 um 10 10 32](https://user-images.githubusercontent.com/26137398/44975097-d7158380-af61-11e8-9dfa-dfcfbbdeaddf.png)

If I remove the `font` it looks and feels correct.
![bildschirmfoto 2018-09-03 um 10 07 55](https://user-images.githubus

[2018-10-18 08:09] arthurlogilab opened #154 "Provide a privacy option to not use google fonts"
Hey, kudos for a fantastic theme for jenkins.

It would be awesome if one could have an option to run have the theme without external assets such as google fonts which can be a concern in terms of privacy.

[2018-10-18 18:59] brandonshough commented on #135
+1 this would be really nice. FWIW the existing themes render nicely with the Dark Reader Chrome and or Firefox plugin. It would be nice if this was native for Android / iOS viewing though.

[2018-11-07 13:40] Jon889 commented on #102
This is extremely annoying, I find it usually is not monospaced, and only occasionally monospaced.

[2019-02-11 15:25] umara123 commented on #143
@thcp You could create a job on the same jenkins instance to save the `theme.css` as an artifact.

Then in the Jenkins theme config just put in the URL of that artifact. I've tested this and it works.

[2019-02-11 18:23] oberos opened #157 "Material theme stops working :("
Cant generate new css because domain was expired.

When You want to go to http://afonsof.com/?reqp=1&reqr=nzcdYaEvLaE5pv5jLab= You will find only below info.

This domain name expired on 2/4/2019 and is pending renewal or deletion.

[2019-02-11 19:45] thcp commented on #143
worked perfectly :)

[2019-02-25 12:38] nathanernest opened #158 ""Lockable Resources" requires icon"
The Lockable resources icon requires updating.

[2019-05-14 09:55] tomerMP commented on #135
+1 !!!!!
I am currently using chrome extension that darkens webpages in general, but its not perfect on the material theme. A native dark mode would be a huge improvement!!!

[2019-06-26 13:54] shamca65 opened #159 "Build Queue list should be configurable"
Really enjoying the theme. Makes long days in Jenkins tolerable :)

The 'Build Queue' list on the left side of the main page would benefit from being configurable i.e. what field to display. Currently it displays the job name; a concatenation of user + job name + branch (as an example) would be much more informative.

<img width="383" alt="Screen Shot 2019-06-26 at 9 51 44 AM" src="https://user-im

[2019-06-27 15:53] cesarjorgemartinez opened #160 "Howto configure other Favicon in this jenkins theme"
Hi,

I apply this theme, by now works well.
But, howto configure other favicon image instead of Mr. Jenkins?

Regards,
Cesar Jorge

[2019-07-16 11:36] nre-ableton opened #161 "Blue Ocean icons are not themed"
Blue Ocean's sidebar icon isn't themed, as well as the following Blue Ocean-related icons are not themed:

- Full Stage View (in job page)
- Replay (in build page)
- Timings (in build page -- this is actually themed, but it uses the "play" icon and IMHO is a bit confusing)

Here's a screenshot from a build page which shows the current state of things:

![Screen Shot 2019-07-16 at 13 35 52](https:/

[2019-07-22 10:15] Roemer commented on #73
This actually seems to be still an issue.

[2019-07-24 09:40] yangcvo commented on #107
我也存在同样的问题。 填写https://cdn.rawgit.com/afonsof/jenkins-material-theme/gh-pages/dist/material-green.css 这个地址 并没有生效。

[2019-07-24 09:43] yangcvo commented on #161
The Jenkins 2.5 version style does not take effect. I can't add a CSS file.
Use the second method: HTTPS://cdn.rawgit.com/afonsof/jenkins-material-theme/gh-pages/dist/material-green.css
Clicking Save will not work.

[2019-07-24 09:53] yangcvo opened #162 "The Jenkins ver 2.138.3 version style does not take effect. I can't add a CSS file."
The  Jenkins ver 2.138.3  version style does not take effect. I can't add a CSS file.
Use the second method: HTTPS://cdn.rawgit.com/afonsof/jenkins-material-theme/gh-pages/dist/material-green.css
Clicking Save will not work.

[2019-07-24 09:54] yangcvo commented on #162
![image](https://user-images.githubusercontent.com/15381166/61784291-0bc15080-ae3c-11e9-99af-0169494ae458.png)

[2019-09-27 07:39] donhui commented on #160
you can see: http://afonsof.com/jenkins-material-theme/

[2019-10-24 04:13] chrisyang0604 commented on #162
You may try to use below CSS URL:
http://afonsof.com/jenkins-material-theme/dist/material-green.css

[2019-10-30 23:21] TheKrush commented on #129
Still occurring.

[2019-10-31 18:40] nagorn-sm commented on #135
Add below code as an Extra CSS in Theme section. It might not be the best fit but it help a lot.

[code]

[2019-12-10 18:24] jeansf opened #163 "Cascadia Font"
Take a look at some tests and note that the Cascadia font is more structured within ".console-output *".
What do you think about using this font?

[2019-12-13 12:17] linkeal commented on #143
Your comments helped me a lot. Thank you!
What I've additionally done is to use the https://google-webfonts-helper.herokuapp.com/fonts  to host all the fonts as artifact in the "/userContent/layout" folder in Jenkins as well. This way the design is completely self hosted.

[2019-12-13 12:18] linkeal commented on #154
Indeed, I have at least found a workaround for now. See #143.

[2019-12-19 03:26] #130 closed

[2020-02-05 16:35] cesarjorgemartinez commented on #160
Hi, I cannot find howto config one favicon (small graphic in tab in browser.
Actually I configure two things:
URL of theme CSS (the image "company logo".
And:
Favicon
 	Favicon Path /userContent/layout/favicon.ico
(The image present as icon in the tab of the browser)

In this plugin only configure the image company logo, but not the favicon.

Regards

[2020-03-04 06:54] adiralashiva8 opened #166 "material-teal.css not working"
Error page while accessing domain

URL - http://afonsof.com/jenkins-material-theme/
Error: “Your requested URL has been blocked as per the directions received from Department of Telecommunications, Government of India.”

In Jenkins we uses following URL for CSS - http://afonsof.com/jenkins-material-theme/dist/material-teal.css

[2020-03-12 19:26] mbuchner opened #167 "Pipeline Step View messed up"
Is there any activity here?

Just tried the theme and it kind of messes up the pipeline steps view:
![image](https://user-images.githubusercontent.com/2117017/76559553-acce4b80-649f-11ea-9ef8-1da997e95a4b.png)

[2020-03-12 19:47] mbuchner commented on #167
Could manage to kind of fix it by adding those 2 lines at the end of the script:

#pipeline-box .table-box {padding: 0 0 0 18.3em !important;}
#pipeline-box .table-box .table-viewPort tr.totals .stage-start .cell-color { padding: .3em .1em  !important;}

First line fixes overlapping boxes
Second line avoids wrapping of text in header ->  "~37min 1s"

![image](https://user-images.githubusercontent.

[2020-03-25 21:13] lunarwtr opened #168 "Jenkins Update Breaks CSS For some Elements"
I updated to 2.228 and UI doesn't look right even with latest material css.

I suspect it was their experimental header changes being activated..  see changlog for
https://jenkins.io/changelog/#v2.222

![image](https://user-images.githubusercontent.com/9368775/77586106-353eea00-6eab-11ea-880c-7dde8888b3c0.png)

[2020-03-29 11:53] Voovode commented on #168
I've just added some **Extra CSS** to make it look ok for now:
[code]

[2020-04-03 20:48] colinbut opened #169 "Unable to revert back to original Jenkins default theme"
Hi,

Firstly, thanks for this material theme, I really like it. 😃

I was experimenting with a custom theme from your website by following steps outlined in this blog link: https://devopscube.com/setup-custom-materialized-ui-theme-jenkins/ and it worked really well (both options).

However, when I try to revert back by deleting the entry made in the Theme Configuration for the Simple Theme plugin u

[2020-04-04 18:24] ezelorenzatti opened #170 "Missign icon for "Lockable Resources""
![missing](https://user-images.githubusercontent.com/33372213/78458507-4a283400-7688-11ea-8bc4-f7fac3ed2e5d.png)

[2020-04-07 13:18] alefnode commented on #168
I med the changes for adapt font-size, uppercase, and breadcrumbs-bar on material-green and material-blue css

[https://mirror.alefnode.com/artifactory/jenkins/material-blue.css](url)
[https://mirror.alefnode.com/artifactory/jenkins/material-green.css](url)

If i feel the force maybe can do rest of colours, it will appear here
[https://mirror.alefnode.com/artifactory/jenkins/](url)

[2020-04-09 11:20] ezelorenzatti opened #172 "Missign icon for "Full Stage View""
![full-stage-view](https://user-images.githubusercontent.com/33372213/78889857-e6f92180-7a3a-11ea-93ad-0bede049e5aa.png)

[2020-04-11 22:46] nmgds commented on #169
try adding any new element (empty), delete the old one and save

[2020-04-13 18:36] alefnode commented on #168
Finally I decide to upgrade this project.
Here you have the themes updated for new Jenkins version
https://jenkins-themes.alefnode.com/

[2020-04-25 15:58] colinbut commented on #169
@nmgds thanks. your solution has worked

[2020-04-25 15:58] #169 closed

[2020-05-15 13:53] nfalco79 commented on #170
Duplicates #158

[2020-05-15 13:54] nfalco79 commented on #172
Duplicates #139

[2020-05-15 13:56] nfalco79 commented on #129
Duplicates #167 where a solution has been proposed by the reporter

[2020-07-13 16:24] frasten commented on #135
Jenkins (since v[2.239](https://www.jenkins.io/changelog/)) is now supporting an [official dark plugin](https://github.com/jenkinsci/dark-theme-plugin) (but those ugly icons): could it be a starting point to port this awesome theme to a dark flavour?

[2020-07-15 04:29] risharaom opened #176 "Overlapping text and icon in search bar on home page"

[2020-08-11 08:12] unickq opened #177 "Since Jenkins 2.246 - headers became black"
### Expected
![image](https://user-images.githubusercontent.com/6696821/89873516-399e4200-dbc3-11ea-92b2-b38917bd8368.png)
### Actual
![image](https://user-images.githubusercontent.com/6696821/89873593-5d618800-dbc3-11ea-9e65-5571b93c5f74.png)

[2020-08-31 06:24] jcb-tn commented on #176
![image](https://user-images.githubusercontent.com/70505208/91688881-52b36680-eb63-11ea-9c31-e0d755844a65.png)

[2020-09-10 22:33] jjardina opened #178 "Jenkins v. 2.249.1 large left menu icons"
Upgraded to Jenkins 2.249.1.
- Disk Usage Icon is too big
- Job Import plugin icon is too big
Attaching screenshot

[2020-09-10 22:34] jjardina commented on #178
[
![tooBigIcons](https://user-images.githubusercontent.com/40868102/92817180-4bc2fa00-f394-11ea-9699-8ce3849b2e4b.png)
](url)

[2020-09-13 17:16] timbrown5 commented on #177
Hi @unickq,

I have managed to work around this locally by updating the style sheet with the following:
[code]
It overwrites the variables set in `theme.less`, which is provided with newer versions of Jenkins (I am using 2.249.1).
This gets the theme back more how I remember it (but I could have picked the wrong types of grey).
For some background `--very-light-grey`, `--light-grey`, `--dark-grey`

[2020-09-14 12:29] Amirkin commented on #178
I have the same problem
![image](https://user-images.githubusercontent.com/1216242/93085859-e8401180-f69e-11ea-86ce-4deab4819c27.png)
Theme doesn't work fine

[2020-09-16 10:19] fkranenburg commented on #177
Same issue here, thanks for the workaround @timbrown5 !

[2020-09-16 17:25] visit1985 commented on #178
Fixed that by search and replace `57.6px` with `1.5rem`.

[2020-09-17 07:53] ozonni commented on #177
would be great to have PR to get it fixed for everyone

[2020-09-17 13:30] jjardina commented on #178
@visit1985 That worked for some of the icons, but Job Import Plugin icon is still too big and manage jenkins icons are too small now after you change.

[2020-09-19 17:06] NudeNULL commented on #176
Yes please fix it

[2020-09-22 09:21] timbrown5 opened #179 "Migrate plugin to use theme manager"
There is a new Jenkins project (which it is still in incubation, but seems to be progressing nicely) called theme manager (https://github.com/jenkinsci/theme-manager-plugin). It allows themes to be installed as plugins - not just as external CSS. I am very interested in this because of the security worried with Stylish - having s native theme seems much less of an issue. It also allows users to pi

[2020-09-24 20:01] #132 closed

[2020-11-03 18:58] elawad commented on #176
FYI, a workaround is to apply this to Configure System > Theme > Extra CSS:
[code]

[2020-11-03 20:42] elawad commented on #176
It's now updated https://github.com/afonsof/jenkins-material-theme/issues/168#issuecomment-613032706

[2020-12-14 15:56] jeffa87 opened #181 "Missing logo on build overview page for anonymous view"
When viewing the build overview page as anonymous, the logo is missing.
Jenkins Version: 2.235
Material Theme Version: 1.3.3
Simple Theme Plugin Version: 0.6

Anonymous screenshot
![AnonScreenshot 2020-12-14 085615](https://user-images.githubusercontent.com/18553158/102103290-6cb34500-3df2-11eb-95a1-d18add32432d.jpg)

Logged on screenshot
![SignedInScreenshot 2020-12-14 085657](https://user-images

[2021-01-29 06:13] superzc-github commented on #158
still seeing this issue too, is there any ETA for the issue since seems it's not a complicated problem

[2021-02-04 05:03] scottselberg commented on #102
I found that the Roboto font was overriding the monospace font in the editor making it almost impossible to use.  I removed the style as mentioned by @Jon889 and that fixed the problem, so I would second his vote.

[2021-02-10 08:32] dimasmamot commented on #168
I think the CDN is down down sir

[2021-02-13 21:40] b-dean commented on #168
@dimasmamot, this seems to work:
https://cdn.jsdelivr.net/gh/alefnode/jenkins-themes@CDN/dist/material-light-blue.css

maybe rawgit is gone? or not working at least. see #165

[2021-02-24 18:01] bluesliverx opened #182 "Pipeline replay editor is broken"
I finally tracked this down to the font-family used on the editor. Removing the font-family applied from [our light blue theme](https://cdn.jsdelivr.net/gh/afonsof/jenkins-material-theme@gh-pages/dist/material-light-blue.css) results in the editor working again. The custom font family makes the cursor position wrong (as reported [here](https://github.com/ajaxorg/ace/issues/4431) and [here](https:/

[2021-02-24 18:09] bluesliverx commented on #102
Ah, just filed a new issue in #182, and I think this is actually the same issue.

[2021-03-17 02:26] samwar commented on #135
A true dark mode would be awesome. The dark theme for jenkins is nice, but the icons are so heinous.

[2021-03-23 11:42] marslo opened #183 "the running icon float layer out"
Jenkins version: 2.284/2.283
simple theme plugin version: 0.6

The running icon shows up:
<img width="191" alt="simple-theme" src="https://user-images.githubusercontent.com/5822057/112141169-ed62b800-8c0f-11eb-857c-7143c58eea13.png">

[2021-03-23 18:24] starwarsfan commented on #183
Second that, same here.

[2021-03-23 18:27] Smasherr commented on #183
@starwarsfan I thought it was a feature 🤣

[2021-03-24 08:34] tuyenlq commented on #183
Metoo, maybe problem is jenkins

[2021-03-25 09:47] marslo commented on #183
Jenkins default theme works well with the running icon. So that quite unlikely is the issue of Jenkins.

[2021-03-25 09:55] tuyenlq commented on #183
I agree. Used  to be fine but when I recently updated jenkins there was a problem with icon

[2021-03-25 10:00] marslo commented on #183
well... I've fixed the issue by added:
[code]

it will looks like
![simple-theme-3](https://user-images.githubusercontent.com/5822057/112454735-f7152880-8d93-11eb-8798-d060823e4b7b.gif)

[2021-03-25 10:39] Smasherr commented on #183
Nice job @marslo! Would be cool to see a PR for this

[2021-03-25 11:21] marslo commented on #183
this is actually the workaround, just hidden the overlayer svg image...

[2021-04-01 14:59] Giancarlo1974 opened #184 "Main Script -- Replay -- the cursor in the editor is out of phase"
I found a bug when replaying a Jenkins job:  the cursor in the editor is out of phase

([Visit this site to see how to reproduce a job](https://pushbuildtestdeploy.com/using-jenkinss-replay-feature-to-work-on-without-repeatedly-committing-the-jenkinsfile/))

This is the solution to fix the bug

`#main-panel > pre *,
.ace_editor .ace_scroller .ace_content * {
    font-family: Roboto Mono, monospace

[2021-04-13 14:33] ahochsteger commented on #182
Until this is fixed, this is a workaround that can be added as extra CSS to the theme configuration of Jenkins:
[code]

[2021-04-19 23:03] pmorch commented on #182
And if you can't modify the Jenkins installation (I can't), then this [Violentmonkey](https://violentmonkey.github.io/)(/Tampermonkey/Greasemonkey) script will fix it. Just modify the `@match` line (or add mulitple):

[code]

[2021-04-28 18:07] dankirkd commented on #182
I seeing the same issues for Repay and Console text.   I'm using Firefox Developer Edition, and Jenkins console output and text area output that should be monospace is being overridden by

[code]

I've had to add injected rules in my browser to override the override for the console:

[code]

[2021-05-17 13:16] fguillotpro commented on #183
Still happening with Jenkins 2.293 and ejnkins-material-theme.css v.1.3.3, any news on that matter? Thanks

[2021-05-20 02:42] YoungMan3281 opened #186 "Jenkins ver:2.277.2 the image built info covered the left part"
The image built info is expect to be on the bottom right corner,but it's on the left,and it will cover the info we want to see
![image](https://user-images.githubusercontent.com/25850052/118910927-e3cba700-b957-11eb-9c43-a7c0546e0295.png)
![image](https://user-images.githubusercontent.com/25850052/118910962-f3e38680-b957-11eb-9326-ba609050fafb.png)

[2021-06-04 13:00] fguillotpro commented on #135
That would be awesome.
+1

[2021-06-08 08:30] eplodn commented on #183
Implemented the workaround (thanks @marslo !) but it would be great if @afonsof or somebody could fix the underlying issue.

[2021-06-15 11:02] offa commented on #183
Related Jenkins Issue: [**JENKINS-65808**](https://issues.jenkins.io/browse/JENKINS-65808)

[2021-06-15 11:14] offa commented on #183
The issue has hit other themes too: https://github.com/TobiX/jenkins-neo2-theme/issues/40

[2021-06-22 10:12] morganchristiansson opened #187 "cdn.rawit.com will shut down"
See https://rawgit.com/

This repo still uses cdn.rawgit.com

[2021-06-25 18:15] Jorg3Lucas commented on #187
@morganchristiansson you can use https://github.com/Jorg3Lucas/jenkins-modern-themes

[2021-06-28 13:09] holmesb opened #188 "Broken spinning animation since Jenkins release v2.289.1"
**Versions**
jenkins: 2.289.1
simple theme plugin: 0.6
firefox: 89.1
chrome: 91.0.4472.77

Since upgrading to the latest Jenkins LTS (v2.289.1), the spinning animation for running builds is broken:

![image](https://user-images.githubusercontent.com/5072156/123641375-1c458700-d81a-11eb-9de9-40d5ad56bf04.png)
![image](https://user-images.githubusercontent.com/5072156/123641402-223b6800-d81a-11eb-98

[2021-06-29 09:02] dominikkv commented on #188
Same here...

[2021-06-30 01:29] sunjin110 commented on #188
me too

[2021-07-01 05:53] chrisyang0604 commented on #188
there's a workaround https://github.com/afonsof/jenkins-material-theme/issues/183#issuecomment-806518351

[2021-07-10 21:30] Jorg3Lucas commented on #188
@sunjin110 @chrisyang0604 @dominikkv @holmesb you can use this repo: https://github.com/Jorg3Lucas/jenkins-modern-themes

[2021-09-22 09:21] ylacaute opened #191 "BUG - Console font is not Roboto Mono anymore"
The material theme do not use Roboto Mono anymore for the console (as the result it breaks my beautiful ascii arts haha)

The problem come from here :

[code]
If we remove !important, it is working
If we replace Roboto by Roboto Mono, it is working

I did'nt tested in a real Jenkins, but I think Roboto should be Roboto Mono, => [PR 190](https://github.com/afonsof/jenkins-material-theme/pull/190)

[2021-11-03 15:58] senthil13 commented on #191
+1, i facing the issue.

[2021-11-16 11:24] ylacaute commented on #191
Indeed ! In fact we need to remove `!important` at 2 places :

[code]

We can guess this `!important` has been added for reason, it is then complicated to do a PR.

You can see the result with this : https://github.com/ylacaute/jenkins-material-theme-blue-grey-fixed (personally I don't really see any difference, excepted the console is now monospace which is very important)

[2021-11-26 07:57] nook24 commented on #135
+1

[2021-12-14 21:58] liorazroel opened #192 "Duplicate icons when I try to build in Jenkins version 2.321"
When I run build the icon of running is appear twice look in the image below
![Screen Shot 2021-12-14 at 23 43 58](https://user-images.githubusercontent.com/52318755/146085964-c357d670-3eb0-473e-974d-c46bc353cbae.png)

[2022-01-19 22:52] pySerialKiller commented on #192
I am seeing the same issue

[2022-01-31 10:56] calumbrodie commented on #192
Is it not this issue?
https://github.com/afonsof/jenkins-material-theme/issues/188

[2022-02-01 14:22] Chaya56 commented on #183
Thanks, it do the job

[2022-02-15 14:51] jiuhuche120 commented on #183
ths

[2022-02-18 20:12] b-dean opened #193 "console color is gone in Jenkins 2.335"
This started with Jenkins 2.335. Here's the [commit to the base style.less](https://github.com/jenkinsci/jenkins/commit/b97012a1f8e0968eb74c882b695673d7dc2cd559) in Jenkins that introduced some `!important` colors on all `pre` elements. See https://github.com/jenkinsci/jenkins/pull/6259

Here's a workaround you can add this extra css to your config:
[code]

Any fix for this should probably include

[2022-04-05 07:45] jcb-tn opened #194 "Jenkins 2.341 - Theme colour and company logo not visible"
After upgrading jenkins to 2.341 the theme color and the self added company logo are no longer shown on top line
![jenkins_2341](https://user-images.githubusercontent.com/70505208/161704240-d2977b21-167e-49cb-8f4d-3359c6c08412.jpg)
Hope there is someone who can help me :-) .

[2022-04-05 10:57] joel-vaz opened #195 "Jenkins 2.332.1 - In Progress bar Slightly misaligned"
## Description
Noticed on Jenkins LTS 2.332.1 that the progress bar is now slightly misaligned when using this theme in the color blue.

This issue is different from the previously reported issue: https://github.com/afonsof/jenkins-material-theme/issues/188

## Print:
![Screenshot 2022-04-05 at 11 35 37](https://user-images.githubusercontent.com/90191555/161736196-bddb57ee-6eb9-4ead-97a6-62bf0c8e5

[2022-04-08 07:24] bed1984 commented on #195
Hello, we are under the same issue with the 2.332.1 :(. We have also apply the precedent fix but this time it's not working.
[103.va_161d09c38c7](https://github.com/jenkinsci/simple-theme-plugin)

[2022-04-08 14:03] Maxo112 opened #196 "Jenkins 2.332.2 gear Icon false ?"
Hello everyone,

I am confused by the icon on the left side, it must be the gear.svg icon. Does anyone know how to fix it ?

![image](https://user-images.githubusercontent.com/38752564/162451868-52528123-4ac6-4b7c-b62b-d194e230b3d1.png)

[2022-04-11 07:58] liorazroel commented on #194
Yes, after upgrade I saw that the plugin doesn't work

[2022-04-17 23:05] ApplebaumIan commented on #194
Same here!

[2022-04-26 12:35] shasi24 commented on #194
+1

[2022-05-25 06:46] JantsoP commented on #194
There is a work around. Open your .css file and search for #header. There should be six of them. Replace them all with #page-header and save it. Load it up with Jenkins and see your theme working again :)

[2022-05-27 05:08] dongbum commented on #195
me too

[2022-06-23 08:26] crizzdeeann commented on #194
does not work for me. even with the default url, it does not change anything.
https://cdn.rawgit.com/afonsof/jenkins-material-theme/gh-pages/dist/material-cyan.css
**Jenkins version: 2.346.1**
**Simple Theme Plugin version: 103.va_161d09c38c7**

[2022-06-24 01:35] dongbum commented on #194
+1

**Jenkins version: 2.346.1**

[2022-06-24 13:48] JantsoP commented on #194
Ok so this means they have borked it.... again. My info is valid for the version what was latest at that time... and what was like 344 or something like that. I will look into this and update when I have new fix for this.

[2022-06-26 13:22] JantsoP commented on #194
Small update. Looks like they have changed something which now breaks this. I managed to duplicate issue with latest weekly (at the time of writing 2.356). Need to look into this more. Anyone else if more than welcome to pitch in if they manage find fix before I do :)

[2022-06-27 09:18] cesarjorgemartinez commented on #194
works correctly for me, but not change all fails. Inside configuration page jobs by example, the color fail, if select text the I see

[2022-07-04 10:05] doncraig commented on #194
Same issue here on 2.357

[2022-07-04 17:10] peter-griffiths commented on #195
Using the following extra CSS instead of the original workaround/fix worked for us:
`span[class*=anime] svg { display: none }`

[2022-07-30 02:55] MrRahulR opened #200 "Console Icon css class should be `icon-sm` instead of `icon-xlg`"
**Jenkins Version** - Jenkins v2.346.2
**Theme Version** - v1.3.3

---
I noticed the console icon is looking larger than other icons, by checking the CSS I saw it has the class `icon-xlg` instead of `icon-sm` which seems aligned well with other icons.

---
**Current Design -**

<img width="348" alt="Screenshot 2022-07-30 at 8 17 40 AM" src="https://user-images.githubusercontent.com/5868850/1818674

[2022-09-01 17:20] maxbanton commented on #177
This works for me https://jorg3lucas.github.io/jenkins-modern-themes/

[2022-10-04 03:17] maksonlee commented on #194
To change the logo only, set the following, i tried this on version 2.361.1 and 2.371.

![image](https://user-images.githubusercontent.com/7221781/193726794-dd0ec397-e475-4df7-a93f-6383beda183a.png)

[2022-10-04 08:33] maksonlee commented on #194
To change the background color of header only, set the following, i tried this on version 2.361.1 and 2.371.

![image](https://user-images.githubusercontent.com/7221781/193772841-522f481d-6736-44b0-bbfc-bd66d535b781.png)

[2022-10-04 08:50] liorazroel commented on #194
This is what I did

[2022-11-17 01:17] Semmu commented on #194
Almost forked this repo and opened a PR with the fix, but we already have one waiting to be merged: https://github.com/afonsof/jenkins-material-theme/pull/199